In [2]:
import os
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [3]:
cd /content/drive/MyDrive/colab/Covigator/Covigator-AI

/content/drive/MyDrive/colab/Covigator/Covigator-AI

In [4]:
import pandas as pd
import numpy as np

In [48]:
df_place = pd.read_csv('tn_visit_area_info_방문지정보_A.csv', encoding='cp949')
df_place

,VISIT_AREA_ID,TRAVEL_ID,VISIT_ORDER,VISIT_AREA_NM,VISIT_START_YMD,VISIT_END_YMD,ROAD_NM_ADDR,LOTNO_ADDR,X_COORD,Y_COORD,...,POI_NM,RESIDENCE_TIME_MIN,VISIT_AREA_TYPE_CD,REVISIT_YN,VISIT_CHC_REASON_CD,LODGING_TYPE_CD,DGSTFN,REVISIT_INTENTION,RCMDTN_INTENTION,SGG_CD
0,2210300006,a_a015688,5,프로방스마을,2022-10-30,2022-10-30,경기 파주시 탄현면 새오리로 77,경기 파주시 탄현면 성동리 82-1,126.685239,37.790405,...,NaN,60.0,7,Y,9.0,NaN,4.0,4.0,4.0,NaN
1,2208050001,a_a000164,1,친구/친지집,2022-08-05,2022-08-05,NaN,경기도 안산시 단원구 와동,NaN,NaN,...,NaN,NaN,22,NaN,NaN,NaN,NaN,NaN,NaN,41273.0
2,2210030002,a_a004293,2,병점역 1호선,2022-10-03,2022-10-03,경기 화성시 떡전골로 97,경기 화성시 진안동 824-1,127.033200,37.206753,...,병점역,30.0,9,Y,6.0,NaN,4.0,5.0,5.0,NaN
3,2208200003,a_a000491,12,더현대서울,2022-08-20,2022-08-20,서울 영등포구 여의대로 108,서울 영등포구 여의도동 22,126.928446,37.525872,...,NaN,180.0,4,N,2.0,NaN,5.0,5.0,5.0,NaN
4,2208110007,a_a000172,13,강릉중앙시장,2022-08-11,2022-08-11,강원 강릉시 금성로 21,강원 강릉시 성남동 50,128.898624,37.754025,...,신흥수산,30.0,4,N,1.0,NaN,4.0,4.0,4.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30149,2210220005,a_a008553,5,집,2022-10-22,2022-10-23,NaN,NaN,NaN,NaN,...,NaN,300.0,21,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30150,2208280003,a_a001505,6,카페아쁠뤼스,2022-08-28,2022-08-28,경기 가평군 청평면 신청평로 107,경기 가평군 청평면 대성리 3-5,127.406939,37.728238,...,NaN,90.0,11,N,9.0,NaN,5.0,4.0,4.0,NaN
30151,2210290005,a_a013660,4,국립중앙박물관,2022-10-29,2022-10-29,서울 용산구 서빙고로 137,서울 용산구 용산동6가 168-6,126.980203,37.523847,...,국립중앙박물관,30.0,2,N,10.0,NaN,5.0,5.0,5.0,NaN
30152,2208060008,a_a000019,7,송도달빛축제공원,2022-08-06,2022-08-06,인천 연수구 센트럴로 350,인천 연수구 송도동 26-1,126.634896,37.407218,...,NaN,60.0,8,N,9.0,NaN,4.0,4.0,4.0,NaN
30153,2209060002,a_a000567,2,콩카페 롯데백화점 잠실점,2022-09-06,2022-09-06,서울 송파구 올림픽로 240,서울 송파구 잠실동 40-1,127.098572,37.511906,...,롯데월드어드벤처,0.0,11,N,9.0,NaN,3.0,2.0,2.0,NaN

In [49]:
# 방문지 유형 코드 재정의
mapping = {
    1: '자연',    # 자연
    7: '자연',    # 자연
    2: '역사/유적지',    # 역사/유적지
    3: '문화시설',    # 문화시설
    4: '쇼핑',    # 쇼핑
    10: '쇼핑',   # 쇼핑
    5: '레저/스포츠',    # 레저/스포츠
    6: '테마시설',    # 테마시설
    13: '테마시설',   # 테마시설
    11: '음식점/카페'    # 음식점/카페
}

# 지정된 VISIT_AREA_TYPE_CD 코드만 포함하도록 필터링
df_place = df_place[df_place['VISIT_AREA_TYPE_CD'].isin(mapping.keys())]

# 매핑을 적용하여 VISIT_AREA_TYPE_CD를 새 코드로 변경
df_place['VISIT_AREA_TYPE_CD'] = df_place['VISIT_AREA_TYPE_CD'].map(mapping)

df_place

<ipython-input-49-e02d6ef470f2>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_place['VISIT_AREA_TYPE_CD'] = df_place['VISIT_AREA_TYPE_CD'].map(mapping)

,VISIT_AREA_ID,TRAVEL_ID,VISIT_ORDER,VISIT_AREA_NM,VISIT_START_YMD,VISIT_END_YMD,ROAD_NM_ADDR,LOTNO_ADDR,X_COORD,Y_COORD,...,POI_NM,RESIDENCE_TIME_MIN,VISIT_AREA_TYPE_CD,REVISIT_YN,VISIT_CHC_REASON_CD,LODGING_TYPE_CD,DGSTFN,REVISIT_INTENTION,RCMDTN_INTENTION,SGG_CD
0,2210300006,a_a015688,5,프로방스마을,2022-10-30,2022-10-30,경기 파주시 탄현면 새오리로 77,경기 파주시 탄현면 성동리 82-1,126.685239,37.790405,...,NaN,60.0,자연,Y,9.0,NaN,4.0,4.0,4.0,NaN
3,2208200003,a_a000491,12,더현대서울,2022-08-20,2022-08-20,서울 영등포구 여의대로 108,서울 영등포구 여의도동 22,126.928446,37.525872,...,NaN,180.0,쇼핑,N,2.0,NaN,5.0,5.0,5.0,NaN
4,2208110007,a_a000172,13,강릉중앙시장,2022-08-11,2022-08-11,강원 강릉시 금성로 21,강원 강릉시 성남동 50,128.898624,37.754025,...,신흥수산,30.0,쇼핑,N,1.0,NaN,4.0,4.0,4.0,NaN
5,2208270003,a_a000554,17,청계천,2022-08-27,2022-08-27,NaN,서울 종로구 서린동 148,126.978647,37.569147,...,NaN,60.0,자연,N,1.0,NaN,4.0,4.0,4.0,NaN
8,2210100002,a_a006024,2,장안순대국,2022-10-10,2022-10-10,경기 수원시 팔달구 화서문로 58,경기 수원시 팔달구 신풍동 25-1,127.014439,37.285497,...,NaN,30.0,음식점/카페,N,2.0,NaN,4.0,3.0,3.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30145,2209210002,a_a002722,17,행궁동벽화마을,2022-09-21,2022-09-21,NaN,경기 수원시 팔달구 북수동,127.016924,37.285983,...,NaN,30.0,자연,N,1.0,NaN,2.0,2.0,2.0,NaN
30146,2211050001,a_a015750,20,아웃백스테이크하우스 부평점,2022-11-05,2022-11-05,인천 부평구 광장로 4,인천 부평구 부평동 534-1,126.722552,37.491016,...,코아타운,90.0,음식점/카페,Y,5.0,NaN,5.0,5.0,5.0,NaN
30150,2208280003,a_a001505,6,카페아쁠뤼스,2022-08-28,2022-08-28,경기 가평군 청평면 신청평로 107,경기 가평군 청평면 대성리 3-5,127.406939,37.728238,...,NaN,90.0,음식점/카페,N,9.0,NaN,5.0,4.0,4.0,NaN
30151,2210290005,a_a013660,4,국립중앙박물관,2022-10-29,2022-10-29,서울 용산구 서빙고로 137,서울 용산구 용산동6가 168-6,126.980203,37.523847,...,국립중앙박물관,30.0,역사/유적지,N,10.0,NaN,5.0,5.0,5.0,NaN
30153,2209060002,a_a000567,2,콩카페 롯데백화점 잠실점,2022-09-06,2022-09-06,서울 송파구 올림픽로 240,서울 송파구 잠실동 40-1,127.098572,37.511906,...,롯데월드어드벤처,0.0,음식점/카페,N,9.0,NaN,3.0,2.0,2.0,NaN

In [50]:
# 인덱스 재정렬
df_place = df_place.reset_index(drop = True)

df_place

,VISIT_AREA_ID,TRAVEL_ID,VISIT_ORDER,VISIT_AREA_NM,VISIT_START_YMD,VISIT_END_YMD,ROAD_NM_ADDR,LOTNO_ADDR,X_COORD,Y_COORD,...,POI_NM,RESIDENCE_TIME_MIN,VISIT_AREA_TYPE_CD,REVISIT_YN,VISIT_CHC_REASON_CD,LODGING_TYPE_CD,DGSTFN,REVISIT_INTENTION,RCMDTN_INTENTION,SGG_CD
0,2210300006,a_a015688,5,프로방스마을,2022-10-30,2022-10-30,경기 파주시 탄현면 새오리로 77,경기 파주시 탄현면 성동리 82-1,126.685239,37.790405,...,NaN,60.0,자연,Y,9.0,NaN,4.0,4.0,4.0,NaN
1,2208200003,a_a000491,12,더현대서울,2022-08-20,2022-08-20,서울 영등포구 여의대로 108,서울 영등포구 여의도동 22,126.928446,37.525872,...,NaN,180.0,쇼핑,N,2.0,NaN,5.0,5.0,5.0,NaN
2,2208110007,a_a000172,13,강릉중앙시장,2022-08-11,2022-08-11,강원 강릉시 금성로 21,강원 강릉시 성남동 50,128.898624,37.754025,...,신흥수산,30.0,쇼핑,N,1.0,NaN,4.0,4.0,4.0,NaN
3,2208270003,a_a000554,17,청계천,2022-08-27,2022-08-27,NaN,서울 종로구 서린동 148,126.978647,37.569147,...,NaN,60.0,자연,N,1.0,NaN,4.0,4.0,4.0,NaN
4,2210100002,a_a006024,2,장안순대국,2022-10-10,2022-10-10,경기 수원시 팔달구 화서문로 58,경기 수원시 팔달구 신풍동 25-1,127.014439,37.285497,...,NaN,30.0,음식점/카페,N,2.0,NaN,4.0,3.0,3.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17662,2209210002,a_a002722,17,행궁동벽화마을,2022-09-21,2022-09-21,NaN,경기 수원시 팔달구 북수동,127.016924,37.285983,...,NaN,30.0,자연,N,1.0,NaN,2.0,2.0,2.0,NaN
17663,2211050001,a_a015750,20,아웃백스테이크하우스 부평점,2022-11-05,2022-11-05,인천 부평구 광장로 4,인천 부평구 부평동 534-1,126.722552,37.491016,...,코아타운,90.0,음식점/카페,Y,5.0,NaN,5.0,5.0,5.0,NaN
17664,2208280003,a_a001505,6,카페아쁠뤼스,2022-08-28,2022-08-28,경기 가평군 청평면 신청평로 107,경기 가평군 청평면 대성리 3-5,127.406939,37.728238,...,NaN,90.0,음식점/카페,N,9.0,NaN,5.0,4.0,4.0,NaN
17665,2210290005,a_a013660,4,국립중앙박물관,2022-10-29,2022-10-29,서울 용산구 서빙고로 137,서울 용산구 용산동6가 168-6,126.980203,37.523847,...,국립중앙박물관,30.0,역사/유적지,N,10.0,NaN,5.0,5.0,5.0,NaN
17666,2209060002,a_a000567,2,콩카페 롯데백화점 잠실점,2022-09-06,2022-09-06,서울 송파구 올림픽로 240,서울 송파구 잠실동 40-1,127.098572,37.511906,...,롯데월드어드벤처,0.0,음식점/카페,N,9.0,NaN,3.0,2.0,2.0,NaN

In [51]:
# 방문지 지번주소 & 도로명주소 결측치 제거
df_place.dropna(subset=['ROAD_NM_ADDR', 'LOTNO_ADDR'], how='all', inplace=True)

# 인덱스 재설정
df_place = df_place.reset_index(drop = True)

# 시도/군구 변수 생성
sido = []
gungu = []

for i in range(len(df_place)):
    # LOTNO_ADDR(지번주소) 우선 사용, 결측치면 ROAD_NM_ADDR(도로명주소) 사용
    if pd.notna(df_place['LOTNO_ADDR'][i]):  # 지번주소가 존재하면
        address = df_place['LOTNO_ADDR'][i]
    elif pd.notna(df_place['ROAD_NM_ADDR'][i]):  # 지번주소가 없으면 도로명주소 사용
        address = df_place['ROAD_NM_ADDR'][i]
    else:
        address = None

    if address:  # 주소가 있으면 시도와 군구를 분리
        address_parts = address.split(' ')
        sido.append(address_parts[0])
        gungu.append(address_parts[1] if len(address_parts) > 1 else None)
    else:
        sido.append(None)
        gungu.append(None)

df_place['SIDO'] = sido
df_place['GUNGU'] = gungu

# 시도 통합
df_place['SIDO'] = df_place['SIDO'].replace({
                                              '서울특별시': '서울',
                                              '경기도': '경기',
                                              '인천광역시': '인천',
                                              '강원도': '강원',
                                              '경상남도': '경남',
                                              '전라북도': '전북',
                                              '충청남도': '충남',
                                              '부산광역시': '부산',
                                              '경상북도': '경북',
                                              '대전광역시': '대전',
                                              '제주특별자치도': '제주',
                                              '세종특별자치시': '세종'
                                          })

# 결과 확인
df_place['SIDO'].value_counts()

SIDO
경기           7633
서울           7249
인천           1098
강원            184
경북             30
             ...
만월로675번길        1
녹차로             1
별내중앙로           1
대공원광장로102       1
소리천로            1
Name: count, Length: 305, dtype: int64

In [52]:
# 서울 필터링
df_place_seoul = df_place[df_place['SIDO'] == '서울']
df_place_seoul.reset_index(drop=True, inplace=True)
print(df_place_seoul)

      VISIT_AREA_ID  TRAVEL_ID  VISIT_ORDER  VISIT_AREA_NM VISIT_START_YMD  \
0        2208200003  a_a000491           12          더현대서울      2022-08-20
1        2208270003  a_a000554           17            청계천      2022-08-27
2        2209030003  a_a000962            9          숙이네닭발      2022-09-03
3        2210080005  a_a003234            8     서울 그로서리 클럽      2022-10-08
4        2210090001  a_a003810            8          더현대서울      2022-10-09
...             ...        ...          ...            ...             ...
7244     2210160001  a_a008089           14      꼴라보하우스 도산      2022-10-16
7245     2208280008  a_a001110            7         뚝섬한강공원      2022-08-28
7246     2210220008  c_c005343            8       한복남 경복궁점      2022-10-22
7247     2210290005  a_a013660            4        국립중앙박물관      2022-10-29
7248     2209060002  a_a000567            2  콩카페 롯데백화점 잠실점      2022-09-06

     VISIT_END_YMD         ROAD_NM_ADDR          LOTNO_ADDR     X_COORD  \
0       2022-08-20     서울 영등포구 여의대로 108     서울 영등포구 여의도동 22  126.928446
1       2022-08-27                  NaN      서울 종로구 서린동 148  126.978647
2       2022-09-03    서울 용산구 우사단로10길 47  서울 용산구 한남동 732-148  126.998172
3       2022-10-08    서울 서대문구 연희로11가길 8                 NaN         NaN
4       2022-10-09     서울 영등포구 여의대로 108     서울 영등포구 여의도동 22  126.928446
...            ...                  ...                 ...         ...
7244    2022-10-16  서울 강남구 언주로164길 21-3   서울 강남구 신사동 645-15  127.035228
7245    2022-08-28                  NaN    서울 광진구 자양동 427-6  127.068921
7246    2022-10-22     서울 종로구 사직로 133-5     서울 종로구 적선동 95-1  126.973307
7247    2022-10-29      서울 용산구 서빙고로 137  서울 용산구 용산동6가 168-6  126.980203
7248    2022-09-06      서울 송파구 올림픽로 240     서울 송파구 잠실동 40-1  127.098572

        Y_COORD  ...  VISIT_AREA_TYPE_CD REVISIT_YN VISIT_CHC_REASON_CD  \
0     37.525872  ...                  쇼핑          N                 2.0
1     37.569147  ...                  자연          N                 1.0
2     37.532902  ...              음식점/카페          N                 2.0
3           NaN  ...                문화시설          N                 2.0
4     37.525872  ...                문화시설          N                11.0
...         ...  ...                 ...        ...                 ...
7244  37.525735  ...                문화시설          N                 2.0
7245  37.529297  ...                  자연          Y                 2.0
7246  37.576208  ...                  쇼핑          Y                11.0
7247  37.523847  ...              역사/유적지          N                10.0
7248  37.511906  ...              음식점/카페          N                 9.0

     LODGING_TYPE_CD  DGSTFN REVISIT_INTENTION RCMDTN_INTENTION   SGG_CD  \
0                NaN     5.0               5.0              5.0      NaN
1                NaN     4.0               4.0              4.0      NaN
2                NaN     5.0               5.0              5.0      NaN
3                NaN     4.0               3.0              3.0  11410.0
4                NaN     5.0               5.0              5.0      NaN
...              ...     ...               ...              ...      ...
7244             NaN     3.0               2.0              2.0      NaN
7245             NaN     5.0               5.0              5.0      NaN
7246             NaN     3.0               3.0              4.0      NaN
7247             NaN     5.0               5.0              5.0      NaN
7248             NaN     3.0               2.0              2.0      NaN

      SIDO  GUNGU
0       서울   영등포구
1       서울    종로구
2       서울    용산구
3       서울   서대문구
4       서울   영등포구
...    ...    ...
7244    서울    강남구
7245    서울    광진구
7246    서울    종로구
7247    서울    용산구
7248    서울    송파구

[7249 rows x 25 columns]

In [53]:
# 방문 선택 이유 유형 코드 재정의
mapping = {
    1: '지명도/명소/핫플레이스', # 지명도/명소/핫플레이스
    2: '지명도/명소/핫플레이스', # 지명도/명소/핫플레이스
    3: '지명도/명소/핫플레이스', # 지명도/명소/핫플레이스
    4: '과거 경험이 좋아서', # 과거 경험이 좋아서
    5: '지인 추천이 있어서', # 지인 추천이 있어서
    6: '가기 편해서/교통이 좋아서', # 가기 편해서/교통이 좋아서
    7: '과거 경험이 좋아서', # 과거 경험이 좋아서
    8: '가성비가 좋아서', # 가성비가 좋아서
    9: '과거 경험이 좋아서', # 과거 경험이 좋아서
    10: '기타', # 기타
    11: '기타' # 기타
}

# 매핑을 적용하여 VISIT_AREA_TYPE_CD를 새 코드로 변경
df_place_seoul['VISIT_CHC_REASON_CD'] = df_place_seoul['VISIT_CHC_REASON_CD'].map(mapping)

df_place_seoul

<ipython-input-53-3e7bd0ac1a3e>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_place_seoul['VISIT_CHC_REASON_CD'] = df_place_seoul['VISIT_CHC_REASON_CD'].map(mapping)

,VISIT_AREA_ID,TRAVEL_ID,VISIT_ORDER,VISIT_AREA_NM,VISIT_START_YMD,VISIT_END_YMD,ROAD_NM_ADDR,LOTNO_ADDR,X_COORD,Y_COORD,...,VISIT_AREA_TYPE_CD,REVISIT_YN,VISIT_CHC_REASON_CD,LODGING_TYPE_CD,DGSTFN,REVISIT_INTENTION,RCMDTN_INTENTION,SGG_CD,SIDO,GUNGU
0,2208200003,a_a000491,12,더현대서울,2022-08-20,2022-08-20,서울 영등포구 여의대로 108,서울 영등포구 여의도동 22,126.928446,37.525872,...,쇼핑,N,지명도/명소/핫플레이스,NaN,5.0,5.0,5.0,NaN,서울,영등포구
1,2208270003,a_a000554,17,청계천,2022-08-27,2022-08-27,NaN,서울 종로구 서린동 148,126.978647,37.569147,...,자연,N,지명도/명소/핫플레이스,NaN,4.0,4.0,4.0,NaN,서울,종로구
2,2209030003,a_a000962,9,숙이네닭발,2022-09-03,2022-09-03,서울 용산구 우사단로10길 47,서울 용산구 한남동 732-148,126.998172,37.532902,...,음식점/카페,N,지명도/명소/핫플레이스,NaN,5.0,5.0,5.0,NaN,서울,용산구
3,2210080005,a_a003234,8,서울 그로서리 클럽,2022-10-08,2022-10-08,서울 서대문구 연희로11가길 8,NaN,NaN,NaN,...,문화시설,N,지명도/명소/핫플레이스,NaN,4.0,3.0,3.0,11410.0,서울,서대문구
4,2210090001,a_a003810,8,더현대서울,2022-10-09,2022-10-09,서울 영등포구 여의대로 108,서울 영등포구 여의도동 22,126.928446,37.525872,...,문화시설,N,기타,NaN,5.0,5.0,5.0,NaN,서울,영등포구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7244,2210160001,a_a008089,14,꼴라보하우스 도산,2022-10-16,2022-10-16,서울 강남구 언주로164길 21-3,서울 강남구 신사동 645-15,127.035228,37.525735,...,문화시설,N,지명도/명소/핫플레이스,NaN,3.0,2.0,2.0,NaN,서울,강남구
7245,2208280008,a_a001110,7,뚝섬한강공원,2022-08-28,2022-08-28,NaN,서울 광진구 자양동 427-6,127.068921,37.529297,...,자연,Y,지명도/명소/핫플레이스,NaN,5.0,5.0,5.0,NaN,서울,광진구
7246,2210220008,c_c005343,8,한복남 경복궁점,2022-10-22,2022-10-22,서울 종로구 사직로 133-5,서울 종로구 적선동 95-1,126.973307,37.576208,...,쇼핑,Y,기타,NaN,3.0,3.0,4.0,NaN,서울,종로구
7247,2210290005,a_a013660,4,국립중앙박물관,2022-10-29,2022-10-29,서울 용산구 서빙고로 137,서울 용산구 용산동6가 168-6,126.980203,37.523847,...,역사/유적지,N,기타,NaN,5.0,5.0,5.0,NaN,서울,용산구
7248,2209060002,a_a000567,2,콩카페 롯데백화점 잠실점,2022-09-06,2022-09-06,서울 송파구 올림픽로 240,서울 송파구 잠실동 40-1,127.098572,37.511906,...,음식점/카페,N,과거 경험이 좋아서,NaN,3.0,2.0,2.0,NaN,서울,송파구

In [54]:
df_place_seoul = df_place_seoul[['TRAVEL_ID', 'VISIT_AREA_NM', 'GUNGU', 'ROAD_NM_ADDR', 'LOTNO_ADDR', 'X_COORD', 'Y_COORD', 'VISIT_AREA_TYPE_CD', 'VISIT_CHC_REASON_CD', 'REVISIT_YN', 'DGSTFN', 'REVISIT_INTENTION', 'RCMDTN_INTENTION']]
df_place_seoul

,TRAVEL_ID,VISIT_AREA_NM,GUNGU,ROAD_NM_ADDR,LOTNO_ADDR,X_COORD,Y_COORD,VISIT_AREA_TYPE_CD,VISIT_CHC_REASON_CD,REVISIT_YN,DGSTFN,REVISIT_INTENTION,RCMDTN_INTENTION
0,a_a000491,더현대서울,영등포구,서울 영등포구 여의대로 108,서울 영등포구 여의도동 22,126.928446,37.525872,쇼핑,지명도/명소/핫플레이스,N,5.0,5.0,5.0
1,a_a000554,청계천,종로구,NaN,서울 종로구 서린동 148,126.978647,37.569147,자연,지명도/명소/핫플레이스,N,4.0,4.0,4.0
2,a_a000962,숙이네닭발,용산구,서울 용산구 우사단로10길 47,서울 용산구 한남동 732-148,126.998172,37.532902,음식점/카페,지명도/명소/핫플레이스,N,5.0,5.0,5.0
3,a_a003234,서울 그로서리 클럽,서대문구,서울 서대문구 연희로11가길 8,NaN,NaN,NaN,문화시설,지명도/명소/핫플레이스,N,4.0,3.0,3.0
4,a_a003810,더현대서울,영등포구,서울 영등포구 여의대로 108,서울 영등포구 여의도동 22,126.928446,37.525872,문화시설,기타,N,5.0,5.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7244,a_a008089,꼴라보하우스 도산,강남구,서울 강남구 언주로164길 21-3,서울 강남구 신사동 645-15,127.035228,37.525735,문화시설,지명도/명소/핫플레이스,N,3.0,2.0,2.0
7245,a_a001110,뚝섬한강공원,광진구,NaN,서울 광진구 자양동 427-6,127.068921,37.529297,자연,지명도/명소/핫플레이스,Y,5.0,5.0,5.0
7246,c_c005343,한복남 경복궁점,종로구,서울 종로구 사직로 133-5,서울 종로구 적선동 95-1,126.973307,37.576208,쇼핑,기타,Y,3.0,3.0,4.0
7247,a_a013660,국립중앙박물관,용산구,서울 용산구 서빙고로 137,서울 용산구 용산동6가 168-6,126.980203,37.523847,역사/유적지,기타,N,5.0,5.0,5.0
7248,a_a000567,콩카페 롯데백화점 잠실점,송파구,서울 송파구 올림픽로 240,서울 송파구 잠실동 40-1,127.098572,37.511906,음식점/카페,과거 경험이 좋아서,N,3.0,2.0,2.0

In [55]:
# TRAVEL_ID , TRAVELER_ID 동일화
df_place_seoul['TRAVEL_ID'] = df_place_seoul['TRAVEL_ID'].str.replace(r'^[a-zA-Z]+_', '', regex=True)

df_place_seoul

<ipython-input-55-6816017be279>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_place_seoul['TRAVEL_ID'] = df_place_seoul['TRAVEL_ID'].str.replace(r'^[a-zA-Z]+_', '', regex=True)

,TRAVEL_ID,VISIT_AREA_NM,GUNGU,ROAD_NM_ADDR,LOTNO_ADDR,X_COORD,Y_COORD,VISIT_AREA_TYPE_CD,VISIT_CHC_REASON_CD,REVISIT_YN,DGSTFN,REVISIT_INTENTION,RCMDTN_INTENTION
0,a000491,더현대서울,영등포구,서울 영등포구 여의대로 108,서울 영등포구 여의도동 22,126.928446,37.525872,쇼핑,지명도/명소/핫플레이스,N,5.0,5.0,5.0
1,a000554,청계천,종로구,NaN,서울 종로구 서린동 148,126.978647,37.569147,자연,지명도/명소/핫플레이스,N,4.0,4.0,4.0
2,a000962,숙이네닭발,용산구,서울 용산구 우사단로10길 47,서울 용산구 한남동 732-148,126.998172,37.532902,음식점/카페,지명도/명소/핫플레이스,N,5.0,5.0,5.0
3,a003234,서울 그로서리 클럽,서대문구,서울 서대문구 연희로11가길 8,NaN,NaN,NaN,문화시설,지명도/명소/핫플레이스,N,4.0,3.0,3.0
4,a003810,더현대서울,영등포구,서울 영등포구 여의대로 108,서울 영등포구 여의도동 22,126.928446,37.525872,문화시설,기타,N,5.0,5.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7244,a008089,꼴라보하우스 도산,강남구,서울 강남구 언주로164길 21-3,서울 강남구 신사동 645-15,127.035228,37.525735,문화시설,지명도/명소/핫플레이스,N,3.0,2.0,2.0
7245,a001110,뚝섬한강공원,광진구,NaN,서울 광진구 자양동 427-6,127.068921,37.529297,자연,지명도/명소/핫플레이스,Y,5.0,5.0,5.0
7246,c005343,한복남 경복궁점,종로구,서울 종로구 사직로 133-5,서울 종로구 적선동 95-1,126.973307,37.576208,쇼핑,기타,Y,3.0,3.0,4.0
7247,a013660,국립중앙박물관,용산구,서울 용산구 서빙고로 137,서울 용산구 용산동6가 168-6,126.980203,37.523847,역사/유적지,기타,N,5.0,5.0,5.0
7248,a000567,콩카페 롯데백화점 잠실점,송파구,서울 송파구 올림픽로 240,서울 송파구 잠실동 40-1,127.098572,37.511906,음식점/카페,과거 경험이 좋아서,N,3.0,2.0,2.0

In [56]:
df_place_seoul.isna().sum()

TRAVEL_ID                0
VISIT_AREA_NM            0
GUNGU                    0
ROAD_NM_ADDR           849
LOTNO_ADDR             125
X_COORD                 75
Y_COORD                 75
VISIT_AREA_TYPE_CD       0
VISIT_CHC_REASON_CD     10
REVISIT_YN              11
DGSTFN                  11
REVISIT_INTENTION       11
RCMDTN_INTENTION        11
dtype: int64

In [57]:
# 도로명 주소, 지번 주소 결측치 채우기

import requests

KAKAO_REST_API_KEY = '949138ef4d7ffbb96c15e3ac9476eb11'

# 도로명 주소 -> 지번 주소
def convert_road_to_lotno(addr):
  url = 'https://dapi.kakao.com/v2/local/search/address.json?query={}'.format(addr)
  headers = {"Authorization": "KakaoAK " + KAKAO_REST_API_KEY}
  r = requests.get(url, headers = headers)

  if r.status_code == 200:
    try:
      road_address = r.json().get('documents', [])[0].get('address', None)
      if road_address is not None:
        result = road_address.get('address_name', None)
        if result is None:
          print('지번 주소 없음')
        else:
          print('도로명 주소 지번 주소로 바꾸기 성공 ->'+ result)
      else:
        print('지번 주소가 존재하지 않음')
        return None

    except (IndexError, AttributeError, KeyError):
      print('지번 주소 없음')
      return None

  else:
    return None

  return result

# 지번 주소 -> 도로명 주소
def convert_lotno_to_road(addr):
  url = 'https://dapi.kakao.com/v2/local/search/address.json?query={}'.format(addr)
  headers = {"Authorization": "KakaoAK " + KAKAO_REST_API_KEY}
  r = requests.get(url, headers = headers)

  if r.status_code == 200:
    try:
      road_address = r.json().get('documents', [])[0].get('road_address', None)
      if road_address is not None:
        result = road_address.get('address_name', None)
        if result is None:
          print('도로명 주소 없음')
        else:
          print('지번 주소 도로명 주소로 바꾸기 성공 ->'+ result)
      else:
        print('도로명 주소가 존재하지 않음')
        return None

    except (IndexError, AttributeError, KeyError):
      print('도로명 주소 없음')
      return None

  else:
    return None

  return result

In [58]:
# 결측치 채우기 함수
def fill_missing_addresses(row):
    if pd.isna(row['ROAD_NM_ADDR']) and pd.notna(row['LOTNO_ADDR']):
        # 도로명 주소가 없고, 지번 주소가 있을 때 도로명 주소 채우기
        print(row['TRAVEL_ID'],row['LOTNO_ADDR'], '도로명 주소 채우기')
        row['ROAD_NM_ADDR'] = convert_lotno_to_road(row['LOTNO_ADDR'])
    elif pd.isna(row['LOTNO_ADDR']) and pd.notna(row['ROAD_NM_ADDR']):
        # 지번 주소가 없고, 도로명 주소가 있을 때 지번 주소 채우기
        print(row['TRAVEL_ID'], row['ROAD_NM_ADDR'], '지번 주소 채우기')
        row['LOTNO_ADDR'] = convert_road_to_lotno(row['ROAD_NM_ADDR'])
    return row

# 데이터프레임에 적용
df_place_seoul = df_place_seoul.apply(fill_missing_addresses, axis=1)

df_place_seoul

a000554 서울 종로구 서린동 148 도로명 주소 채우기
도로명 주소 없음
a003234 서울 서대문구 연희로11가길 8 지번 주소 채우기
도로명 주소 지번 주소로 바꾸기 성공 ->서울 서대문구 연희동 129-4
a004696 서울 성동구 성수동1가 678-1 도로명 주소 채우기
도로명 주소 없음
a000087 서울특별시 중구 을지로6가 도로명 주소 채우기
도로명 주소가 존재하지 않음
a014835 서울 영등포구 여의도동 85 도로명 주소 채우기
도로명 주소 없음
a006552 서울 강남구 삼성동 159-9 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 강남구 영동대로 511
a005657 서울 동작구 노량진동 325-2 도로명 주소 채우기
도로명 주소 없음
a000673 서울 영등포구 여의도동 85 도로명 주소 채우기
도로명 주소 없음
a008270 서울 서초구 서초대로75길 37 지번 주소 채우기
도로명 주소 지번 주소로 바꾸기 성공 ->서울 서초구 서초동 1308-23
a000094 서울 종로구 서린동 148 도로명 주소 채우기
도로명 주소 없음
a001258 서울 송파구 잠실동 278 도로명 주소 채우기
도로명 주소 없음
a002116 서울 중구 소공동 87-14 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 중구 소공로 112
a001914 서울 노원구 공릉동 29-4 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 노원구 화랑로 608
a001258 서울 송파구 잠실동 1-1 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 송파구 한가람로 65
a005857 서울 노원구 상계동 719-1 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 노원구 노해로 476-2
a009510 서울 중구 명동2가 도로명 주소 채우기
도로명 주소가 존재하지 않음
a001588 서울 종로구 세종로 1-68 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 종로구 세종대로 지하 172
a000341 서울 영등포구 여의도동 85 도로명 주소 채우기
도로명 주소 없음
a005096 서울 성동구 성수동1가 668-11 도로명 주소 채우기
도로명 주소 없음
a000751 서울 서초구 반포동 115-5 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 서초구 신반포로11길 40
a001971 서울 광진구 능동 18 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 광진구 천호대로 660
a015292 서울 송파구 신천동 32 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 송파구 송파나루길 166
a002957 서울 강서구 화곡동 도로명 주소 채우기
도로명 주소가 존재하지 않음
a001982 서울 종로구 서린동 148 도로명 주소 채우기
도로명 주소 없음
a010967 서울 용산구 이태원동 119-23 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 용산구 이태원로 171-1
a000134 서울 종로구 서린동 148 도로명 주소 채우기
도로명 주소 없음
a007963 서울 강남구 삼성동 159-9 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 강남구 영동대로 511
a005038 서울 영등포구 여의도동 85 도로명 주소 채우기
도로명 주소 없음
a001210 서울 종로구 세종로 1-68 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 종로구 세종대로 지하 172
a017916 서울 성동구 연무장길 57 1층 파이롯트 오피스 지번 주소 채우기
도로명 주소 지번 주소로 바꾸기 성공 ->서울 성동구 성수동2가 315-10
a005209 서울 용산구 용산동2가 산 1-3 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 용산구 남산공원길 105
a017570 서울 용산구 한강대로23길 55 지번 주소 채우기
도로명 주소 지번 주소로 바꾸기 성공 ->서울 용산구 한강로3가 40-999
a005126 서울 영등포구 여의도동 85 도로명 주소 채우기
도로명 주소 없음
a014461 서울 송파구 신천동 32 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 송파구 송파나루길 166
a002219 서울 종로구 서린동 148 도로명 주소 채우기
도로명 주소 없음
a014835 서울 중구 명동2가 도로명 주소 채우기
도로명 주소가 존재하지 않음
a006561 서울 광진구 천호대로 676 지번 주소 채우기
도로명 주소 지번 주소로 바꾸기 성공 ->서울 광진구 구의동 75-19
a005857 서울 강동구 강일동 도로명 주소 채우기
도로명 주소가 존재하지 않음
a011234 서울 마포구 동교동 190-1 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 마포구 양화로 188
a002042 서울 서대문구 창천동 도로명 주소 채우기
도로명 주소가 존재하지 않음
a007407 서울 성동구 성수동1가 678-1 도로명 주소 채우기
도로명 주소 없음
a006034 서울 종로구 종로4가 도로명 주소 채우기
도로명 주소가 존재하지 않음
b001071 서울 강남구 신사동 609-2 도로명 주소 채우기
도로명 주소 없음
c006214 서울 중구 명동2가 도로명 주소 채우기
도로명 주소가 존재하지 않음
a000082 서울 성동구 성수동1가 685-715 도로명 주소 채우기
도로명 주소 없음
a000082 서울 영등포구 여의도동 85 도로명 주소 채우기
도로명 주소 없음
a010239 서울 금천구 가산동 도로명 주소 채우기
도로명 주소가 존재하지 않음
a000339 서울 송파구 잠실동 47 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 송파구 삼학사로 136
a013915 서울 성동구 성수동1가 678-1 도로명 주소 채우기
도로명 주소 없음
a003984 서울 영등포구 여의도동 85 도로명 주소 채우기
도로명 주소 없음
a007621 서울 성동구 연무장길 57 1층 파이롯트 오피스 지번 주소 채우기
도로명 주소 지번 주소로 바꾸기 성공 ->서울 성동구 성수동2가 315-10
a002233 서울 송파구 잠실로 209  16층 온천사우나 지번 주소 채우기
도로명 주소 지번 주소로 바꾸기 성공 ->서울 송파구 신천동 29-1
a015308 서울 성동구 성수동1가 668-11 도로명 주소 채우기
도로명 주소 없음
a001981 서울 용산구 용산동2가 산 1-3 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 용산구 남산공원길 105
a011533 서울 동작구 신대방동 722 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 동작구 보라매로5길 28
a004793 서울 성동구 성수동1가 642-1 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 성동구 왕십리로 27
a010251 서울 강남구 압구정동 386 도로명 주소 채우기
도로명 주소 없음
a000538 서울 강남구 봉은사로 114 세븐일레븐 역삼보브점 지번 주소 채우기
도로명 주소 지번 주소로 바꾸기 성공 ->서울 강남구 역삼동 601-15
a007017 서울 중구 명동2가 도로명 주소 채우기
도로명 주소가 존재하지 않음
a005209 서울 중구 예장동 도로명 주소 채우기
도로명 주소가 존재하지 않음
a000172 서울 마포구 망원동 403-6 도로명 주소 채우기
도로명 주소 없음
a000962 서울 중구 을지로4가 188-6 도로명 주소 채우기
도로명 주소 없음
a003252 서울 종로구 자하문로15길 16 지번 주소 채우기
도로명 주소 지번 주소로 바꾸기 성공 ->서울 종로구 통인동 13-1
a000407 서울 성동구 성수동1가 678-1 도로명 주소 채우기
도로명 주소 없음
a003543 서울 마포구 상암동 481-72 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 마포구 하늘공원로 95
a000658 서울 종로구 서린동 148 도로명 주소 채우기
도로명 주소 없음
a004793 서울 성동구 성수동1가 678-1 도로명 주소 채우기
도로명 주소 없음
a000287 서울 영등포구 여의도동 도로명 주소 채우기
도로명 주소가 존재하지 않음
a001964 서울 영등포구 여의도동 85 도로명 주소 채우기
도로명 주소 없음
a005845 서울 마포구 상암동 1535 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 마포구 증산로 32
a002037 서울 송파구 신천동 32 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 송파구 송파나루길 166
a002284 서울 광진구 자양동 427-6 도로명 주소 채우기
도로명 주소 없음
a000428 서울 성동구 성수동1가 678-1 도로명 주소 채우기
도로명 주소 없음
a006295 서울 영등포구 여의도동 85 도로명 주소 채우기
도로명 주소 없음
a009716 서울 마포구 상암동 481-72 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 마포구 하늘공원로 95
a012019 서울 영등포구 여의도동 85 도로명 주소 채우기
도로명 주소 없음
a013665 서울 서초구 잠원동 122-1 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 서초구 한강남자전거길 2262
a000956 서울 성동구 성수동1가 668-11 도로명 주소 채우기
도로명 주소 없음
a006355 서울 관악구 봉천동 도로명 주소 채우기
도로명 주소가 존재하지 않음
a005188 서울 영등포구 영등포로62길 36 지번 주소 채우기
도로명 주소 지번 주소로 바꾸기 성공 ->서울 영등포구 영등포동 571-12
a000265 서울 송파구 송파동 도로명 주소 채우기
도로명 주소가 존재하지 않음
a004797 서울 송파구 송파동 도로명 주소 채우기
도로명 주소가 존재하지 않음
a017681 서울 종로구 세종로 1-68 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 종로구 세종대로 지하 172
a008543 서울 종로구 관철동 도로명 주소 채우기
도로명 주소가 존재하지 않음
a000469 서울 종로구 서린동 148 도로명 주소 채우기
도로명 주소 없음
a018010 서울 송파구 방이동 88-17 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 송파구 위례성대로 지하 29
a002378 서울 광진구 자양로13나길 14 지번 주소 채우기
도로명 주소 지번 주소로 바꾸기 성공 ->서울 광진구 자양동 622-40
a015694 서울 종로구 종로52길 30 지번 주소 채우기
도로명 주소 지번 주소로 바꾸기 성공 ->서울 종로구 창신동 390-3
a004862 서울 용산구 용산동2가 산 1-3 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 용산구 남산공원길 105
a001208 서울 종로구 서린동 148 도로명 주소 채우기
도로명 주소 없음
a000396 서울 노원구 공릉1동 589-4 도로명 주소 채우기
도로명 주소 없음
a007071 서울 송파구 잠실동 47 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 송파구 삼학사로 136
a010181 서울 용산구 양녕로 445  B동 2층 지번 주소 채우기
도로명 주소 지번 주소로 바꾸기 성공 ->서울 용산구 이촌동 302-146
a003186 서울 강남구 삼성동 159-9 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 강남구 영동대로 511
a000956 서울 마포구 망원동 403-6 도로명 주소 채우기
도로명 주소 없음
a000434 서울특별시 중구 충무로5가 도로명 주소 채우기
도로명 주소가 존재하지 않음
a005568 서울 종로구 대학로10길 17 지번 주소 채우기
도로명 주소 지번 주소로 바꾸기 성공 ->서울 종로구 동숭동 1-67
a002650 서울 종로구 세종로 1 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 종로구 청와대로 1
a002493 서울 송파구 잠실동 47 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 송파구 삼학사로 136
a017709 서울 금천구 독산동 1151 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 금천구 벚꽃로 14
a017613 서울 송파구 송파동 도로명 주소 채우기
도로명 주소가 존재하지 않음
a007656 서울 종로구 세종로 1 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 종로구 청와대로 1
a008695 서울 종로구 세종로 1-68 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 종로구 세종대로 지하 172
a017928 서울 종로구 세종로 1-68 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 종로구 세종대로 지하 172
a008121 서울 종로구 송현동 48-9 도로명 주소 채우기
도로명 주소 없음
a017745 서울 마포구 동교동 190-1 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 마포구 양화로 188
a000661 서울 중구 소공동 87-14 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 중구 소공로 112
a007670 서울 용산구 서빙고동 235-101 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 용산구 서빙고로 221
a002233 서울 송파구 올림픽로 300  롯데마트내  푸드코트 지번 주소 채우기
도로명 주소 지번 주소로 바꾸기 성공 ->서울 송파구 신천동 29
a002274 서울 광진구 아차산로33길 7 3층 룸카페티파니 지번 주소 채우기
도로명 주소 지번 주소로 바꾸기 성공 ->서울 광진구 화양동 7-1
a005118 서울 종로구 필운대로 6-1 2층 지번 주소 채우기
도로명 주소 지번 주소로 바꾸기 성공 ->서울 종로구 필운동 146-1
a001210 서울 종로구 세종로 1-68 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 종로구 세종대로 지하 172
a008211 서울 강남구 역삼동 도로명 주소 채우기
도로명 주소가 존재하지 않음
a007945 서울 마포구 상암동 481-72 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 마포구 하늘공원로 95
a012482 서울 마포구 망원동 도로명 주소 채우기
도로명 주소가 존재하지 않음
a004999 서울 용산구 이태원동 119-23 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 용산구 이태원로 171-1
a001440 서울 중구 충무로1가 24-1 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 중구 퇴계로 115
a004504 서울 중구 을지로 281 동대문디자인플라자(DDP) 뮤지엄 지번 주소 채우기
도로명 주소 지번 주소로 바꾸기 성공 ->서울 중구 을지로7가 143
a015837 서울 성동구 성수동2가 289-30 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 성동구 아차산로 105
a003109 서울 마포구 서교동 348-78 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 마포구 홍익로 22
a001677 서울 용산구 이태원동 119-23 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 용산구 이태원로 171-1
a000502 서울 마포구 동교동 190-1 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 마포구 양화로 188
a006348 서울 송파구 올림픽로32길 37-4 1층 지번 주소 채우기
도로명 주소 지번 주소로 바꾸기 성공 ->서울 송파구 방이동 98-6
a004719 서울 송파구 신천동 32 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 송파구 송파나루길 166
a018047 서울 도봉구 방학동 726-80 도로명 주소 채우기
도로명 주소 없음
a009620 서울 용산구 서빙고동 235-101 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 용산구 서빙고로 221
d005429 서울 종로구 세종로 1 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 종로구 청와대로 1
d004088 서울 영등포구 여의도동 85 도로명 주소 채우기
도로명 주소 없음
a010288 서울 용산구 서빙고동 235-102 도로명 주소 채우기
도로명 주소 없음
a005994 서울 강남구 압구정동 386 도로명 주소 채우기
도로명 주소 없음
a014772 서울 종로구 종로6가 도로명 주소 채우기
도로명 주소가 존재하지 않음
a000493 서울 종로구 세종로 1-68 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 종로구 세종대로 지하 172
a003853 서울 종로구 서린동 148 도로명 주소 채우기
도로명 주소 없음
a006213 서울 송파구 송파동 도로명 주소 채우기
도로명 주소가 존재하지 않음
a004071 서울 강남구 가로수길 43 지번 주소 채우기
도로명 주소 지번 주소로 바꾸기 성공 ->서울 강남구 신사동 534-18
a002988 서울 중구 명동2가 도로명 주소 채우기
도로명 주소가 존재하지 않음
a006051 서울 종로구 종로5가 도로명 주소 채우기
도로명 주소가 존재하지 않음
a012482 서울 마포구 서교동 415 도로명 주소 채우기
도로명 주소 없음
a000851 서울 용산구 용산동2가 산 1-3 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 용산구 남산공원길 105
a015141 서울 종로구 서린동 148 도로명 주소 채우기
도로명 주소 없음
a012216 서울 종로구 익선동 도로명 주소 채우기
도로명 주소가 존재하지 않음
a009511 서울 종로구 세종로 1-68 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 종로구 세종대로 지하 172
a013695 서울 마포구 서교동 348-78 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 마포구 홍익로 22
a014858 서울 용산구 한강로2가 412 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 용산구 한강대로 114
a009903 서울 영등포구 여의도동 85 도로명 주소 채우기
도로명 주소 없음
a003694 서울 종로구 종로4가 도로명 주소 채우기
도로명 주소가 존재하지 않음
a001636 서울 마포구 상암동 495-72 도로명 주소 채우기
도로명 주소 없음
a007298 서울 종로구 세종로 1-68 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 종로구 세종대로 지하 172
a002373 서울 종로구 팔판동 67-1 도로명 주소 채우기
도로명 주소 없음
a000924 서울 종로구 평창동 산 6-94 도로명 주소 채우기
도로명 주소 없음
a006213 서울 종로구 종로4가 도로명 주소 채우기
도로명 주소가 존재하지 않음
a010043 서울 용산구 이태원동 119-23 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 용산구 이태원로 171-1
a004242 서울 송파구 송파동 도로명 주소 채우기
도로명 주소가 존재하지 않음
a001264 서울특별시 중구 소공동 도로명 주소 채우기
도로명 주소가 존재하지 않음
a012495 서울 송파구 방이동 도로명 주소 채우기
도로명 주소가 존재하지 않음
a001712 서울 종로구 율곡로 180 지번 주소 채우기
도로명 주소 지번 주소로 바꾸기 성공 ->서울 종로구 원남동 49-17
a007390 서울 도봉구 도봉동 산 31 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 도봉구 도봉산길 92-1
a003829 서울 종로구 송현동 48-9 도로명 주소 채우기
도로명 주소 없음
a000728 서울 송파구 신천동 32 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 송파구 송파나루길 166
a017692 서울 동작구 신대방동 722 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 동작구 보라매로5길 28
a005748 서울특별시 종로구 사직로 161 지번 주소 채우기
도로명 주소 지번 주소로 바꾸기 성공 ->서울 종로구 세종로 1-1
a000417 서울 송파구 신천동 14 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 송파구 오금로 1
a015694 서울 종로구 율곡로 99 지번 주소 채우기
도로명 주소 지번 주소로 바꾸기 성공 ->서울 종로구 와룡동 2-71
a004370 서울 종로구 서린동 148 도로명 주소 채우기
도로명 주소 없음
a008165 서울 중구 태평로1가 54-3 도로명 주소 채우기
도로명 주소 없음
a001216 서울 성동구 성수동1가 678-1 도로명 주소 채우기
도로명 주소 없음
a001981 서울 중구 태평로1가 54-3 도로명 주소 채우기
도로명 주소 없음
a017904 서울 용산구 용문동 도로명 주소 채우기
도로명 주소가 존재하지 않음
a006309 서울 마포구 상암동 481-72 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 마포구 하늘공원로 95
a011803 서울 송파구 신천동 32 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 송파구 송파나루길 166
a014727 서울 서초구 신반포로 194 지번 주소 채우기
도로명 주소 지번 주소로 바꾸기 성공 ->서울 서초구 반포동 19-4
a001035 서울 마포구 서교동 348-40 도로명 주소 채우기
도로명 주소 없음
a002612 서울 종로구 세종로 1-68 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 종로구 세종대로 지하 172
a010053 서울 마포구 망원동 403-6 도로명 주소 채우기
도로명 주소 없음
a018026 서울 송파구 송파동 도로명 주소 채우기
도로명 주소가 존재하지 않음
a000413 서울 중구 을지로6가 18-220 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 중구 장충단로 247
a000949 서울 영등포구 여의도동 85 도로명 주소 채우기
도로명 주소 없음
a004071 서울 중구 을지로7가 4-23 도로명 주소 채우기
도로명 주소 없음
a010982 서울 강남구 테헤란로 517 지번 주소 채우기
도로명 주소 지번 주소로 바꾸기 성공 ->서울 강남구 삼성동 159-7
a003346 서울 광진구 워커힐로 177 지번 주소 채우기
도로명 주소 지번 주소로 바꾸기 성공 ->서울 광진구 광장동 22-1
a006326 서울 성동구 성수동1가 685-37 도로명 주소 채우기
도로명 주소 없음
a008052 서울 광진구 워커힐로 177 지번 주소 채우기
도로명 주소 지번 주소로 바꾸기 성공 ->서울 광진구 광장동 22-1
a000746 서울특별시 강동구 성내동 도로명 주소 채우기
도로명 주소가 존재하지 않음
a001210 서울 종로구 세종로 1-68 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 종로구 세종대로 지하 172
a002315 서울 종로구 익선동 도로명 주소 채우기
도로명 주소가 존재하지 않음
a010072 서울 용산구 이태원동 119-23 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 용산구 이태원로 171-1
a008663 서울 종로구 옥인동 산 3-39 도로명 주소 채우기
도로명 주소 없음
a004637 서울 영등포구 여의공원로 68 여의도공원관리사무소 지번 주소 채우기
도로명 주소 지번 주소로 바꾸기 성공 ->서울 영등포구 여의도동 2
a001208 서울 종로구 관수동 도로명 주소 채우기
도로명 주소가 존재하지 않음
a001375 서울 마포구 와우산로29길 48-11 지번 주소 채우기
도로명 주소 지번 주소로 바꾸기 성공 ->서울 마포구 서교동 330-6
a004721 서울 종로구 관훈동 도로명 주소 채우기
도로명 주소가 존재하지 않음
a001525 서울 종로구 서린동 148 도로명 주소 채우기
도로명 주소 없음
a001716 서울 종로구 청운동 7-3 도로명 주소 채우기
도로명 주소 없음
a003008 서울 중구 명동2가 도로명 주소 채우기
도로명 주소가 존재하지 않음
a003452 서울 성동구 연무장17길 10 지번 주소 채우기
도로명 주소 지번 주소로 바꾸기 성공 ->서울 성동구 성수동2가 275-28
a001881 서울 강남구 대치동 78-20 도로명 주소 채우기
도로명 주소 없음
a000151 서울 종로구 세종로 1 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 종로구 청와대로 1
a000196 서울 종로구 율곡로3길 74-3 지번 주소 채우기
도로명 주소 지번 주소로 바꾸기 성공 ->서울 종로구 화동 137-5
a000201 서울특별시 성북구 하월곡동 도로명 주소 채우기
도로명 주소가 존재하지 않음
a007393 서울 송파구 잠실동 47 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 송파구 삼학사로 136
a012416 서울 마포구 망원동 403-6 도로명 주소 채우기
도로명 주소 없음
a000906 서울특별시 종로구 화동 도로명 주소 채우기
도로명 주소가 존재하지 않음
a000537 서울 종로구 세종로 1-68 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 종로구 세종대로 지하 172
a010382 서울 관악구 신림동 도로명 주소 채우기
도로명 주소가 존재하지 않음
a000407 서울 종로구 세종로 1-68 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 종로구 세종대로 지하 172
a000407 서울 강남구 역삼동 도로명 주소 채우기
도로명 주소가 존재하지 않음
a007925 서울 종로구 숭인동 102-8 도로명 주소 채우기
도로명 주소 없음
a009402 서울 성동구 성수동1가 678-1 도로명 주소 채우기
도로명 주소 없음
a000338 서울 중구 태평로1가 1 도로명 주소 채우기
도로명 주소 없음
a003666 서울 종로구 삼청동 산 2-1 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 종로구 북촌로 134-1
a005989 서울 종로구 세종로 1-68 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 종로구 세종대로 지하 172
a000552 서울 종로구 세종로 1-68 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 종로구 세종대로 지하 172
a018000 서울 종로구 삼청동 산 2-1 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 종로구 북촌로 134-1
a007786 서울 송파구 송파동 도로명 주소 채우기
도로명 주소가 존재하지 않음
a010043 서울 서초구 잠원동 149 도로명 주소 채우기
도로명 주소 없음
a007241 서울 종로구 종로 127-1 지번 주소 채우기
도로명 주소 지번 주소로 바꾸기 성공 ->서울 종로구 종로3가 19
a008659 서울 종로구 종로4가 도로명 주소 채우기
도로명 주소가 존재하지 않음
a011422 서울 송파구 송파동 도로명 주소 채우기
도로명 주소가 존재하지 않음
a002233 서울 종로구 서린동 148 도로명 주소 채우기
도로명 주소 없음
a015272 서울 용산구 후암동 도로명 주소 채우기
도로명 주소가 존재하지 않음
a000537 서울 종로구 삼청로 30 지번 주소 채우기
도로명 주소 지번 주소로 바꾸기 성공 ->서울 종로구 소격동 165
a003089 서울 마포구 서교동 348-40 도로명 주소 채우기
도로명 주소 없음
a014965 서울 영등포구 여의도동 85 도로명 주소 채우기
도로명 주소 없음
a014382 서울 중구 명동2가 도로명 주소 채우기
도로명 주소가 존재하지 않음
a012450 서울 종로구 옥인동 산 3-39 도로명 주소 채우기
도로명 주소 없음
a001109 서울 종로구 옥인동 179-1 도로명 주소 채우기
도로명 주소 없음
a002859 서울 마포구 상암동 495-72 도로명 주소 채우기
도로명 주소 없음
c006214 서울 성동구 성수동1가 678-1 도로명 주소 채우기
도로명 주소 없음
a002395 서울 종로구 세종로 1-68 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 종로구 세종대로 지하 172
a003595 서울 종로구 서린동 148 도로명 주소 채우기
도로명 주소 없음
a002246 서울 마포구 동교동 190-1 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 마포구 양화로 188
a009812 서울 영등포구 영등포동2가 222 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 영등포구 영등포로53길 14
a000562 서울 강남구 신사동 668-33 도로명 주소 채우기
도로명 주소 없음
a001129 서울 중구 태평로1가 1 도로명 주소 채우기
도로명 주소 없음
a007096 서울 송파구 위례성대로 18 지번 주소 채우기
도로명 주소 지번 주소로 바꾸기 성공 ->서울 송파구 방이동 45-2
a002458 서울 종로구 서린동 148 도로명 주소 채우기
도로명 주소 없음
a003016 서울 영등포구 여의도동 도로명 주소 채우기
도로명 주소가 존재하지 않음
a000448 서울 용산구 이태원동 119-23 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 용산구 이태원로 171-1
a009732 서울 중구 명동2가 도로명 주소 채우기
도로명 주소가 존재하지 않음
a015018 서울 서초구 서초동 산 160-24 도로명 주소 채우기
도로명 주소 없음
a001472 서울 종로구 대학로12길 69 지번 주소 채우기
도로명 주소 지번 주소로 바꾸기 성공 ->서울 종로구 동숭동 1-92
a014969 서울 성동구 성수동1가 678-1 도로명 주소 채우기
도로명 주소 없음
a005806 서울 송파구 위례광장로 230 지번 주소 채우기
도로명 주소 지번 주소로 바꾸기 성공 ->서울 송파구 장지동 884
a016159 서울 종로구 송현동 48-9 도로명 주소 채우기
도로명 주소 없음
c006214 서울 강남구 신사동 668-33 도로명 주소 채우기
도로명 주소 없음
a003666 서울 종로구 옥인동 산 3-39 도로명 주소 채우기
도로명 주소 없음
a010288 서울 송파구 송파동 도로명 주소 채우기
도로명 주소가 존재하지 않음
a000588 서울 용산구 이태원동 293-2 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 용산구 회나무로 4
a000198 서울 종로구 서린동 148 도로명 주소 채우기
도로명 주소 없음
a004682 서울 종로구 세종로 1-68 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 종로구 세종대로 지하 172
a000080 서울 종로구 세종로 1-68 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 종로구 세종대로 지하 172
a010334 서울 강남구 도곡동 도로명 주소 채우기
도로명 주소가 존재하지 않음
a001103 서울 영등포구 여의대로 108 6층 지번 주소 채우기
도로명 주소 지번 주소로 바꾸기 성공 ->서울 영등포구 여의도동 22
a010290 서울 광진구 구의동 546-2 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 광진구 광나루로56길 86
a006022 서울 서초구 원지동 산 4-74 도로명 주소 채우기
도로명 주소 없음
a011371 서울 강남구 역삼동 도로명 주소 채우기
도로명 주소가 존재하지 않음
a004007 서울 용산구 용문동 도로명 주소 채우기
도로명 주소가 존재하지 않음
a001808 서울 마포구 서교동 348-40 도로명 주소 채우기
도로명 주소 없음
a000655 서울 종로구 세종로 1-68 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 종로구 세종대로 지하 172
a001237 서울 영등포구 여의도동 도로명 주소 채우기
도로명 주소가 존재하지 않음
a004051 서울 광진구 자양동 427-6 도로명 주소 채우기
도로명 주소 없음
a007506 서울 마포구 서교동 461-6 도로명 주소 채우기
도로명 주소 없음
a005616 서울 영등포구 경인로 846 지번 주소 채우기
도로명 주소 지번 주소로 바꾸기 성공 ->서울 영등포구 영등포동 618-496
a000746 서울 송파구 잠실동 47 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 송파구 삼학사로 136
a008052 서울 송파구 송파동 도로명 주소 채우기
도로명 주소가 존재하지 않음
a001914 서울 종로구 서린동 148 도로명 주소 채우기
도로명 주소 없음
a001353 서울 종로구 서린동 148 도로명 주소 채우기
도로명 주소 없음
a012494 서울 용산구 용산동2가 도로명 주소 채우기
도로명 주소가 존재하지 않음
a009676 서울 은평구 불광동 산 58-2 도로명 주소 채우기
도로명 주소 없음
a006309 서울 중구 명동2가 도로명 주소 채우기
도로명 주소가 존재하지 않음
a005463 서울 중구 명동2가 도로명 주소 채우기
도로명 주소가 존재하지 않음
a017693 서울 영등포구 여의도동 85 도로명 주소 채우기
도로명 주소 없음
c007425 서울 용산구 이태원동 119-23 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 용산구 이태원로 171-1
a006309 서울 마포구 상암동 482-49 도로명 주소 채우기
도로명 주소 없음
a001056 서울 성동구 성수동1가 678-1 도로명 주소 채우기
도로명 주소 없음
a002810 서울 마포구 동교동 190-1 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 마포구 양화로 188
a001747 서울 도봉구 도봉동 산 31 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 도봉구 도봉산길 92-1
a008659 서울 중구 명동길 74 지번 주소 채우기
도로명 주소 지번 주소로 바꾸기 성공 ->서울 중구 명동2가 1-1
a001926 서울 종로구 세종로 1-68 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 종로구 세종대로 지하 172
a000246 서울 종로구 부암동 115 도로명 주소 채우기
도로명 주소 없음
a009501 서울 서초구 잠원동 149 도로명 주소 채우기
도로명 주소 없음
a002502 서울 광진구 광장동 245-4 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 광진구 천호대로143길 12
a000538 서울 강남구 영동대로 513 메가박스 코엑스 더 부티크 스위트 지번 주소 채우기
도로명 주소 지번 주소로 바꾸기 성공 ->서울 강남구 삼성동 159
a007533 서울 영등포구 여의도동 85 도로명 주소 채우기
도로명 주소 없음
a001712 서울 종로구 사직동 산 1-25 도로명 주소 채우기
도로명 주소 없음
a005811 서울 종로구 세종로 1-68 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 종로구 세종대로 지하 172
a001208 서울 용산구 이태원동 119-23 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 용산구 이태원로 171-1
a003723 서울 송파구 송파동 도로명 주소 채우기
도로명 주소가 존재하지 않음
a012165 서울 광진구 광장동 370 도로명 주소 채우기
도로명 주소 없음
a003179 서울 영등포구 여의도동 도로명 주소 채우기
도로명 주소가 존재하지 않음
a014228 서울 종로구 세종로 1-68 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 종로구 세종대로 지하 172
a017842 서울 종로구 세종로 1-68 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 종로구 세종대로 지하 172
a001887 서울 성동구 성수동1가 678-1 도로명 주소 채우기
도로명 주소 없음
a001141 서울 종로구 삼청동 산 2-27 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 종로구 삼청로11길 44
a001569 서울 종로구 팔판동 67-1 도로명 주소 채우기
도로명 주소 없음
a004499 서울 성동구 응봉동 도로명 주소 채우기
도로명 주소가 존재하지 않음
a005845 서울 마포구 상암동 482-49 도로명 주소 채우기
도로명 주소 없음
c004037 서울 서대문구 봉원동 도로명 주소 채우기
도로명 주소가 존재하지 않음
a012251 서울 마포구 상암동 481-72 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 마포구 하늘공원로 95
a000081 서울특별시 종로구 종로1가 도로명 주소 채우기
도로명 주소가 존재하지 않음
a000657 서울 중구 명동2가 도로명 주소 채우기
도로명 주소가 존재하지 않음
a018047 서울 도봉구 방학동 663 도로명 주소 채우기
도로명 주소 없음
d005429 서울 용산구 이태원동 119-23 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 용산구 이태원로 171-1
a005625 서울 강남구 신사동 668-33 도로명 주소 채우기
도로명 주소 없음
a000984 서울 종로구 세종로 1-68 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 종로구 세종대로 지하 172
a001415 서울 서초구 반포동 115-5 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 서초구 신반포로11길 40
a001035 서울 마포구 동교동 155-6 도로명 주소 채우기
도로명 주소 없음
a010138 서울 마포구 동교동 190-1 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 마포구 양화로 188
a013881 서울 영등포구 여의도동 85 도로명 주소 채우기
도로명 주소 없음
a011558 서울 송파구 신천동 32 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 송파구 송파나루길 166
a010519 서울 성동구 성수동1가 678-1 도로명 주소 채우기
도로명 주소 없음
a001716 서울 종로구 옥인동 산 3-13 도로명 주소 채우기
도로명 주소 없음
a003829 서울 종로구 세종로 1-68 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 종로구 세종대로 지하 172
a000975 서울 종로구 관훈동 도로명 주소 채우기
도로명 주소가 존재하지 않음
a003182 서울 종로구 서린동 148 도로명 주소 채우기
도로명 주소 없음
a001716 서울 종로구 세종로 1-68 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 종로구 세종대로 지하 172
a000728 서울 송파구 신천동 32 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 송파구 송파나루길 166
a009812 서울 서대문구 홍제동 도로명 주소 채우기
도로명 주소가 존재하지 않음
a001384 서울 성동구 성수동1가 678-1 도로명 주소 채우기
도로명 주소 없음
a002005 서울 종로구 세종로 1-68 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 종로구 세종대로 지하 172
a000538 서울 강남구 영동대로 513 코엑스 1층 지번 주소 채우기
도로명 주소 지번 주소로 바꾸기 성공 ->서울 강남구 삼성동 159
a002037 서울 송파구 신천동 32 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 송파구 송파나루길 166
a005302 서울 영등포구 여의도동 85 도로명 주소 채우기
도로명 주소 없음
a014619 서울 송파구 신천동 32 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 송파구 송파나루길 166
a005077 서울 마포구 상암동 482-49 도로명 주소 채우기
도로명 주소 없음
a015115 서울 영등포구 여의도동 85 도로명 주소 채우기
도로명 주소 없음
a004431 서울 광진구 자양동 427-6 도로명 주소 채우기
도로명 주소 없음
a004370 서울 종로구 익선동 도로명 주소 채우기
도로명 주소가 존재하지 않음
a003643 서울 송파구 올림픽로 269 롯데캐슬 F2 차이797 지번 주소 채우기
도로명 주소 지번 주소로 바꾸기 성공 ->서울 송파구 신천동 7-18
a003328 서울 종로구 세종로 1-68 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 종로구 세종대로 지하 172
a003349 서울 강남구 선릉로157길 14-7 지번 주소 채우기
도로명 주소 지번 주소로 바꾸기 성공 ->서울 강남구 신사동 663-17
a001288 서울 중구 명동2가 도로명 주소 채우기
도로명 주소가 존재하지 않음
a000195 서울 마포구 동교동 190-1 도로명 주소 채우기
지번 주소 도로명 주소로 바꾸기 성공 ->서울 마포구 양화로 188
a001142 서울 종로구 서린동 148 도로명 주소 채우기
도로명 주소 없음
a006209 서울 광진구 워커힐로 177 지번 주소 채우기

,TRAVEL_ID,VISIT_AREA_NM,GUNGU,ROAD_NM_ADDR,LOTNO_ADDR,X_COORD,Y_COORD,VISIT_AREA_TYPE_CD,VISIT_CHC_REASON_CD,REVISIT_YN,DGSTFN,REVISIT_INTENTION,RCMDTN_INTENTION
0,a000491,더현대서울,영등포구,서울 영등포구 여의대로 108,서울 영등포구 여의도동 22,126.928446,37.525872,쇼핑,지명도/명소/핫플레이스,N,5.0,5.0,5.0
1,a000554,청계천,종로구,None,서울 종로구 서린동 148,126.978647,37.569147,자연,지명도/명소/핫플레이스,N,4.0,4.0,4.0
2,a000962,숙이네닭발,용산구,서울 용산구 우사단로10길 47,서울 용산구 한남동 732-148,126.998172,37.532902,음식점/카페,지명도/명소/핫플레이스,N,5.0,5.0,5.0
3,a003234,서울 그로서리 클럽,서대문구,서울 서대문구 연희로11가길 8,서울 서대문구 연희동 129-4,NaN,NaN,문화시설,지명도/명소/핫플레이스,N,4.0,3.0,3.0
4,a003810,더현대서울,영등포구,서울 영등포구 여의대로 108,서울 영등포구 여의도동 22,126.928446,37.525872,문화시설,기타,N,5.0,5.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7244,a008089,꼴라보하우스 도산,강남구,서울 강남구 언주로164길 21-3,서울 강남구 신사동 645-15,127.035228,37.525735,문화시설,지명도/명소/핫플레이스,N,3.0,2.0,2.0
7245,a001110,뚝섬한강공원,광진구,None,서울 광진구 자양동 427-6,127.068921,37.529297,자연,지명도/명소/핫플레이스,Y,5.0,5.0,5.0
7246,c005343,한복남 경복궁점,종로구,서울 종로구 사직로 133-5,서울 종로구 적선동 95-1,126.973307,37.576208,쇼핑,기타,Y,3.0,3.0,4.0
7247,a013660,국립중앙박물관,용산구,서울 용산구 서빙고로 137,서울 용산구 용산동6가 168-6,126.980203,37.523847,역사/유적지,기타,N,5.0,5.0,5.0
7248,a000567,콩카페 롯데백화점 잠실점,송파구,서울 송파구 올림픽로 240,서울 송파구 잠실동 40-1,127.098572,37.511906,음식점/카페,과거 경험이 좋아서,N,3.0,2.0,2.0

In [64]:
df_place_seoul.isna().sum()

TRAVEL_ID                0
VISIT_AREA_NM            0
GUNGU                    0
ROAD_NM_ADDR           552
LOTNO_ADDR               1
LONGITUDE               74
LATITUDE                74
VISIT_AREA_TYPE_CD       0
VISIT_CHC_REASON_CD      0
REVISIT_YN               0
DGSTFN                   0
REVISIT_INTENTION        0
RCMDTN_INTENTION         0
dtype: int64

In [60]:
df_place_seoul[df_place_seoul['X_COORD'].isna()]

,TRAVEL_ID,VISIT_AREA_NM,GUNGU,ROAD_NM_ADDR,LOTNO_ADDR,X_COORD,Y_COORD,VISIT_AREA_TYPE_CD,VISIT_CHC_REASON_CD,REVISIT_YN,DGSTFN,REVISIT_INTENTION,RCMDTN_INTENTION
3,a003234,서울 그로서리 클럽,서대문구,서울 서대문구 연희로11가길 8,서울 서대문구 연희동 129-4,NaN,NaN,문화시설,지명도/명소/핫플레이스,N,4.0,3.0,3.0
183,a017916,파이롯트 오피스 팝업스토어,성동구,서울 성동구 연무장길 57 1층 파이롯트 오피스,서울 성동구 성수동2가 315-10,NaN,NaN,문화시설,지명도/명소/핫플레이스,N,5.0,5.0,5.0
203,a017570,신라아이파크면세점,용산구,서울 용산구 한강대로23길 55,서울 용산구 한강로3가 40-999,NaN,NaN,쇼핑,가기 편해서/교통이 좋아서,N,3.0,2.0,2.0
247,a006561,"스타벅스 아차산역, 몽촌토성8호선,아차산역5호선",광진구,서울 광진구 천호대로 676,서울 광진구 구의동 75-19,NaN,NaN,음식점/카페,기타,N,5.0,5.0,5.0
349,a007621,파이롯트오피스 팝업,성동구,서울 성동구 연무장길 57 1층 파이롯트 오피스,서울 성동구 성수동2가 315-10,NaN,NaN,쇼핑,지명도/명소/핫플레이스,N,5.0,4.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6555,a001828,슬로우캘리 종각역점,종로구,서울 종로구 우정국로 26,서울 종로구 공평동 17,NaN,NaN,음식점/카페,지명도/명소/핫플레이스,N,5.0,5.0,5.0
6695,a010181,석파정 서울미술관,종로구,서울 종로구 창의문로11길 4-1,서울 종로구 부암동 201,NaN,NaN,문화시설,지명도/명소/핫플레이스,N,5.0,5.0,5.0
6802,a002064,시온아트홀,종로구,서울 종로구 대학로8가길 52,서울 종로구 동숭동 1-48,NaN,NaN,문화시설,지명도/명소/핫플레이스,N,3.0,2.0,3.0
6860,a005209,경춘선 힐링쉼터,노원구,서울 노원구 공릉로51길 20,서울 노원구 공릉동 428-7,NaN,NaN,자연,지명도/명소/핫플레이스,N,4.0,4.0,4.0
7053,a001872,슈가스컬,서초구,서울 서초구 사평대로 205,서울 서초구 반포동 118-3,NaN,NaN,음식점/카페,가기 편해서/교통이 좋아서,N,4.0,3.0,4.0

In [61]:
df_place_seoul.rename(columns={'X_COORD': 'LONGITUDE'}, inplace=True)
df_place_seoul.rename(columns={'Y_COORD': 'LATITUDE'}, inplace=True)
df_place_seoul

,TRAVEL_ID,VISIT_AREA_NM,GUNGU,ROAD_NM_ADDR,LOTNO_ADDR,LONGITUDE,LATITUDE,VISIT_AREA_TYPE_CD,VISIT_CHC_REASON_CD,REVISIT_YN,DGSTFN,REVISIT_INTENTION,RCMDTN_INTENTION
0,a000491,더현대서울,영등포구,서울 영등포구 여의대로 108,서울 영등포구 여의도동 22,126.928446,37.525872,쇼핑,지명도/명소/핫플레이스,N,5.0,5.0,5.0
1,a000554,청계천,종로구,None,서울 종로구 서린동 148,126.978647,37.569147,자연,지명도/명소/핫플레이스,N,4.0,4.0,4.0
2,a000962,숙이네닭발,용산구,서울 용산구 우사단로10길 47,서울 용산구 한남동 732-148,126.998172,37.532902,음식점/카페,지명도/명소/핫플레이스,N,5.0,5.0,5.0
3,a003234,서울 그로서리 클럽,서대문구,서울 서대문구 연희로11가길 8,서울 서대문구 연희동 129-4,NaN,NaN,문화시설,지명도/명소/핫플레이스,N,4.0,3.0,3.0
4,a003810,더현대서울,영등포구,서울 영등포구 여의대로 108,서울 영등포구 여의도동 22,126.928446,37.525872,문화시설,기타,N,5.0,5.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7244,a008089,꼴라보하우스 도산,강남구,서울 강남구 언주로164길 21-3,서울 강남구 신사동 645-15,127.035228,37.525735,문화시설,지명도/명소/핫플레이스,N,3.0,2.0,2.0
7245,a001110,뚝섬한강공원,광진구,None,서울 광진구 자양동 427-6,127.068921,37.529297,자연,지명도/명소/핫플레이스,Y,5.0,5.0,5.0
7246,c005343,한복남 경복궁점,종로구,서울 종로구 사직로 133-5,서울 종로구 적선동 95-1,126.973307,37.576208,쇼핑,기타,Y,3.0,3.0,4.0
7247,a013660,국립중앙박물관,용산구,서울 용산구 서빙고로 137,서울 용산구 용산동6가 168-6,126.980203,37.523847,역사/유적지,기타,N,5.0,5.0,5.0
7248,a000567,콩카페 롯데백화점 잠실점,송파구,서울 송파구 올림픽로 240,서울 송파구 잠실동 40-1,127.098572,37.511906,음식점/카페,과거 경험이 좋아서,N,3.0,2.0,2.0

In [62]:
#  결측치 제거
df_place_seoul.dropna(subset=['VISIT_CHC_REASON_CD'], how='all', inplace=True)
df_place_seoul.dropna(subset=['REVISIT_YN'], how='all', inplace=True)

# 인덱스 재설정
df_place_seoul = df_place_seoul.reset_index(drop = True)

In [63]:
df_place_seoul

,TRAVEL_ID,VISIT_AREA_NM,GUNGU,ROAD_NM_ADDR,LOTNO_ADDR,LONGITUDE,LATITUDE,VISIT_AREA_TYPE_CD,VISIT_CHC_REASON_CD,REVISIT_YN,DGSTFN,REVISIT_INTENTION,RCMDTN_INTENTION
0,a000491,더현대서울,영등포구,서울 영등포구 여의대로 108,서울 영등포구 여의도동 22,126.928446,37.525872,쇼핑,지명도/명소/핫플레이스,N,5.0,5.0,5.0
1,a000554,청계천,종로구,None,서울 종로구 서린동 148,126.978647,37.569147,자연,지명도/명소/핫플레이스,N,4.0,4.0,4.0
2,a000962,숙이네닭발,용산구,서울 용산구 우사단로10길 47,서울 용산구 한남동 732-148,126.998172,37.532902,음식점/카페,지명도/명소/핫플레이스,N,5.0,5.0,5.0
3,a003234,서울 그로서리 클럽,서대문구,서울 서대문구 연희로11가길 8,서울 서대문구 연희동 129-4,NaN,NaN,문화시설,지명도/명소/핫플레이스,N,4.0,3.0,3.0
4,a003810,더현대서울,영등포구,서울 영등포구 여의대로 108,서울 영등포구 여의도동 22,126.928446,37.525872,문화시설,기타,N,5.0,5.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7233,a008089,꼴라보하우스 도산,강남구,서울 강남구 언주로164길 21-3,서울 강남구 신사동 645-15,127.035228,37.525735,문화시설,지명도/명소/핫플레이스,N,3.0,2.0,2.0
7234,a001110,뚝섬한강공원,광진구,None,서울 광진구 자양동 427-6,127.068921,37.529297,자연,지명도/명소/핫플레이스,Y,5.0,5.0,5.0
7235,c005343,한복남 경복궁점,종로구,서울 종로구 사직로 133-5,서울 종로구 적선동 95-1,126.973307,37.576208,쇼핑,기타,Y,3.0,3.0,4.0
7236,a013660,국립중앙박물관,용산구,서울 용산구 서빙고로 137,서울 용산구 용산동6가 168-6,126.980203,37.523847,역사/유적지,기타,N,5.0,5.0,5.0
7237,a000567,콩카페 롯데백화점 잠실점,송파구,서울 송파구 올림픽로 240,서울 송파구 잠실동 40-1,127.098572,37.511906,음식점/카페,과거 경험이 좋아서,N,3.0,2.0,2.0

In [65]:
KAKAO_REST_API_KEY = '949138ef4d7ffbb96c15e3ac9476eb11'

# 주소를 경도와 위도로 변환하는 함수
def get_coordinates_from_address(addr):
    url = 'https://dapi.kakao.com/v2/local/search/address.json?query={}'.format(addr)
    headers = {"Authorization": "KakaoAK " + KAKAO_REST_API_KEY}
    r = requests.get(url, headers=headers)

    if r.status_code == 200:
        try:
            # 결과에서 주소 정보 가져오기
            address_info = r.json().get('documents', [])[0].get('address', None)
            if address_info is not None:
                latitude = address_info.get('y', None)  # 위도
                longitude = address_info.get('x', None)  # 경도
                if latitude is None or longitude is None:
                    print('경도 또는 위도 정보 없음')
                else:
                    print(f'주소 -> 경도: {longitude}, 위도: {latitude}')
                    return latitude, longitude
            else:
                print('주소 정보가 존재하지 않음')
                return None, None

        except (IndexError, AttributeError, KeyError):
            print('주소 정보 없음')
            return None, None

    else:
        print('API 요청 실패, 상태 코드:', r.status_code)
        return None, None

In [66]:
# 결측치가 있는 경도와 위도를 채우기 위한 함수
def fill_missing_coordinates(row):
    if pd.isnull(row['LONGITUDE']) or pd.isnull(row['LATITUDE']):
        latitude, longitude = get_coordinates_from_address(row['LOTNO_ADDR'])
        if latitude is not None and longitude is not None:
            row['LATITUDE'] = latitude
            row['LONGITUDE'] = longitude
    return row

# apply를 사용해 결측치 채우기
df_place_seoul = df_place_seoul.apply(fill_missing_coordinates, axis=1)

# 결과 출력
df_place_seoul

주소 -> 경도: 126.929212658243, 위도: 37.5679028644426
주소 -> 경도: 127.055984388596, 위도: 37.5424620455809
주소 -> 경도: 126.964300393659, 위도: 37.5297680649234
주소 -> 경도: 127.089868008078, 위도: 37.550637235277
주소 -> 경도: 127.055984388596, 위도: 37.5424620455809
주소 -> 경도: 127.106420153618, 위도: 37.5137894836904
주소 -> 경도: 126.914077874923, 위도: 37.5164081812979
주소 -> 경도: 127.080365805824, 위도: 37.5339922641486
주소 -> 경도: 127.014194047562, 위도: 37.5713340414155
주소 -> 경도: 126.957700951859, 위도: 37.5178833756479
주소 -> 경도: 126.99982795883, 위도: 37.5631302462416
주소 -> 경도: 127.003180624919, 위도: 37.5820870486314
주소 -> 경도: 127.103433202893, 위도: 37.513101157342
주소 -> 경도: 127.069912757288, 위도: 37.5407002844582
주소 -> 경도: 126.969415512954, 위도: 37.5766499556134
주소 -> 경도: 127.009913013758, 위도: 37.5669005893088
주소 -> 경도: 127.11058373677, 위도: 37.5132463182874
주소 -> 경도: 127.022593220402, 위도: 37.5208475030379
주소 -> 경도: 127.059718502493, 위도: 37.5085953316928
주소 -> 경도: 127.111416928728, 위도: 37.5551691763833
주소 -> 경도: 127.111416928728, 위도: 37.5551691763833
주소 -> 경도: 127.061515125788, 위도: 37.5416479438566
주소 -> 경도: 126.982696745397, 위도: 37.5806911752016
주소 -> 경도: 126.991656632431, 위도: 37.5706820991102
주소 -> 경도: 127.114254404915, 위도: 37.5165352712837
주소 -> 경도: 126.907035121749, 위도: 37.5159748715234
주소 -> 경도: 126.986864226128, 위도: 37.563004187017
주소 -> 경도: 127.03871309592, 위도: 37.5265577472647
주소 -> 경도: 127.004160868879, 위도: 37.5807712069944
주소 -> 경도: 126.998921530499, 위도: 37.5896612841235
주소 -> 경도: 126.97963098555, 위도: 37.5561328783522
주소 -> 경도: 127.109154159549, 위도: 37.5101494559791
주소 -> 경도: 126.985010047192, 위도: 37.5736649072773
주소 -> 경도: 126.928299685623, 위도: 37.5260425418848
주소 -> 경도: 126.928299685623, 위도: 37.5260425418848
주소 -> 경도: 127.106420153618, 위도: 37.5137894836904
주소 -> 경도: 126.902598595165, 위도: 37.5075178967156
주소 -> 경도: 127.111503669539, 위도: 37.4934828061531
주소 -> 경도: 127.110195221803, 위도: 37.51479604708
주소 -> 경도: 126.920876770402, 위도: 37.5563094968611
주소 -> 경도: 126.981711860706, 위도: 37.5809256455004
주소 -> 경도: 126.994584878299, 위도: 37.5351493400735
주소 -> 경도: 127.006705761057, 위도: 37.5050455005061
주소 -> 경도: 126.929288970894, 위도: 37.5580606967316
주소 -> 경도: 127.106420153618, 위도: 37.5137894836904
주소 -> 경도: 126.986629752235, 위도: 37.5690854333181
주소 -> 경도: 127.143451849849, 위도: 37.4763891035863
주소 -> 경도: 126.947741731451, 위도: 37.5395893839177
주소 -> 경도: 127.026848888728, 위도: 37.5020508506737
주소 -> 경도: 126.923767627614, 위도: 37.5244872770098
주소 -> 경도: 127.025259353, 위도: 37.501998402312
주소 -> 경도: 126.90546219376, 위도: 37.5546698785274
주소 -> 경도: 126.898649192226, 위도: 37.5795941415816
주소 -> 경도: 126.920781035408, 위도: 37.5481735116205
주소 -> 경도: 127.03338417886, 위도: 37.4847788607944
주소 -> 경도: 126.972864838055, 위도: 37.56585255159
주소 -> 경도: 126.990067087291, 위도: 37.5735493028509
주소 -> 경도: 126.924879359583, 위도: 37.5594113610099
주소 -> 경도: 127.03306536185, 위도: 37.4953666908089
주소 -> 경도: 126.95973789768, 위도: 37.5369352316313
주소 -> 경도: 126.981719904907, 위도: 37.5225181679263
주소 -> 경도: 126.986618307811, 위도: 37.5691515650946
주소 -> 경도: 126.928942235642, 위도: 37.6097135228284
주소 -> 경도: 127.04270363449, 위도: 37.5820945039158
주소 -> 경도: 126.867267994712, 위도: 37.5001230814479
주소 -> 경도: 126.802051652717, 위도: 37.5719530752597
주소 -> 경도: 126.953163807761, 위도: 37.5356762720052
주소 -> 경도: 126.973522295224, 위도: 37.5855201499321
주소 -> 경도: 127.027469985877, 위도: 37.5273343175715
주소 -> 경도: 126.983516239836, 위도: 37.5716468397392
주소 -> 경도: 126.962347109454, 위도: 37.5950207806517
주소 -> 경도: 127.002646062462, 위도: 37.5830054444979
주소 -> 경도: 127.075913136592, 위도: 37.6282020110942
주소 -> 경도: 127.006329730304, 위도: 37.5039136782208

,TRAVEL_ID,VISIT_AREA_NM,GUNGU,ROAD_NM_ADDR,LOTNO_ADDR,LONGITUDE,LATITUDE,VISIT_AREA_TYPE_CD,VISIT_CHC_REASON_CD,REVISIT_YN,DGSTFN,REVISIT_INTENTION,RCMDTN_INTENTION
0,a000491,더현대서울,영등포구,서울 영등포구 여의대로 108,서울 영등포구 여의도동 22,126.928446,37.525872,쇼핑,지명도/명소/핫플레이스,N,5.0,5.0,5.0
1,a000554,청계천,종로구,None,서울 종로구 서린동 148,126.978647,37.569147,자연,지명도/명소/핫플레이스,N,4.0,4.0,4.0
2,a000962,숙이네닭발,용산구,서울 용산구 우사단로10길 47,서울 용산구 한남동 732-148,126.998172,37.532902,음식점/카페,지명도/명소/핫플레이스,N,5.0,5.0,5.0
3,a003234,서울 그로서리 클럽,서대문구,서울 서대문구 연희로11가길 8,서울 서대문구 연희동 129-4,126.929212658243,37.5679028644426,문화시설,지명도/명소/핫플레이스,N,4.0,3.0,3.0
4,a003810,더현대서울,영등포구,서울 영등포구 여의대로 108,서울 영등포구 여의도동 22,126.928446,37.525872,문화시설,기타,N,5.0,5.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7233,a008089,꼴라보하우스 도산,강남구,서울 강남구 언주로164길 21-3,서울 강남구 신사동 645-15,127.035228,37.525735,문화시설,지명도/명소/핫플레이스,N,3.0,2.0,2.0
7234,a001110,뚝섬한강공원,광진구,None,서울 광진구 자양동 427-6,127.068921,37.529297,자연,지명도/명소/핫플레이스,Y,5.0,5.0,5.0
7235,c005343,한복남 경복궁점,종로구,서울 종로구 사직로 133-5,서울 종로구 적선동 95-1,126.973307,37.576208,쇼핑,기타,Y,3.0,3.0,4.0
7236,a013660,국립중앙박물관,용산구,서울 용산구 서빙고로 137,서울 용산구 용산동6가 168-6,126.980203,37.523847,역사/유적지,기타,N,5.0,5.0,5.0
7237,a000567,콩카페 롯데백화점 잠실점,송파구,서울 송파구 올림픽로 240,서울 송파구 잠실동 40-1,127.098572,37.511906,음식점/카페,과거 경험이 좋아서,N,3.0,2.0,2.0

In [70]:
# 경도와 위도를 숫자형으로 변환한 후 소수점 6자리로 제한
df_place_seoul['LONGITUDE'] = pd.to_numeric(df_place_seoul['LONGITUDE'], errors='coerce').round(6)
df_place_seoul['LATITUDE'] = pd.to_numeric(df_place_seoul['LATITUDE'], errors='coerce').round(6)
df_place_seoul

,TRAVEL_ID,VISIT_AREA_NM,GUNGU,ROAD_NM_ADDR,LOTNO_ADDR,LONGITUDE,LATITUDE,VISIT_AREA_TYPE_CD,VISIT_CHC_REASON_CD,REVISIT_YN,DGSTFN,REVISIT_INTENTION,RCMDTN_INTENTION
0,a000491,더현대서울,영등포구,서울 영등포구 여의대로 108,서울 영등포구 여의도동 22,126.928446,37.525872,쇼핑,지명도/명소/핫플레이스,N,5.0,5.0,5.0
1,a000554,청계천,종로구,None,서울 종로구 서린동 148,126.978647,37.569147,자연,지명도/명소/핫플레이스,N,4.0,4.0,4.0
2,a000962,숙이네닭발,용산구,서울 용산구 우사단로10길 47,서울 용산구 한남동 732-148,126.998172,37.532902,음식점/카페,지명도/명소/핫플레이스,N,5.0,5.0,5.0
3,a003234,서울 그로서리 클럽,서대문구,서울 서대문구 연희로11가길 8,서울 서대문구 연희동 129-4,126.929213,37.567903,문화시설,지명도/명소/핫플레이스,N,4.0,3.0,3.0
4,a003810,더현대서울,영등포구,서울 영등포구 여의대로 108,서울 영등포구 여의도동 22,126.928446,37.525872,문화시설,기타,N,5.0,5.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7233,a008089,꼴라보하우스 도산,강남구,서울 강남구 언주로164길 21-3,서울 강남구 신사동 645-15,127.035228,37.525735,문화시설,지명도/명소/핫플레이스,N,3.0,2.0,2.0
7234,a001110,뚝섬한강공원,광진구,None,서울 광진구 자양동 427-6,127.068921,37.529297,자연,지명도/명소/핫플레이스,Y,5.0,5.0,5.0
7235,c005343,한복남 경복궁점,종로구,서울 종로구 사직로 133-5,서울 종로구 적선동 95-1,126.973307,37.576208,쇼핑,기타,Y,3.0,3.0,4.0
7236,a013660,국립중앙박물관,용산구,서울 용산구 서빙고로 137,서울 용산구 용산동6가 168-6,126.980203,37.523847,역사/유적지,기타,N,5.0,5.0,5.0
7237,a000567,콩카페 롯데백화점 잠실점,송파구,서울 송파구 올림픽로 240,서울 송파구 잠실동 40-1,127.098572,37.511906,음식점/카페,과거 경험이 좋아서,N,3.0,2.0,2.0

In [71]:
df_place_seoul.isna().sum()

TRAVEL_ID                0
VISIT_AREA_NM            0
GUNGU                    0
ROAD_NM_ADDR           552
LOTNO_ADDR               1
LONGITUDE                0
LATITUDE                 0
VISIT_AREA_TYPE_CD       0
VISIT_CHC_REASON_CD      0
REVISIT_YN               0
DGSTFN                   0
REVISIT_INTENTION        0
RCMDTN_INTENTION         0
dtype: int64

In [72]:
df_travel = pd.read_csv('tn_travel_여행_A.csv', encoding = 'cp949')
df_travel

,TRAVEL_ID,TRAVEL_NM,TRAVELER_ID,TRAVEL_PURPOSE,TRAVEL_START_YMD,TRAVEL_END_YMD,MVMN_NM,TRAVEL_PERSONA,TRAVEL_MISSION,TRAVEL_MISSION_CHECK
0,a_a014262,A03,a014262,1;11;2;22;,2022-10-29,2022-10-30,자가용,NaN,1;11;2;22;,2;1;22
1,a_a006728,A03,a006728,21;24;5;22;26;27;,2022-10-10,2022-10-11,자가용,NaN,21;24;5;22;26;27;,6;1;22
2,a_a015745,A02,a015745,1;2;6;,2022-10-31,2022-11-03,대중교통 등,NaN,1;2;6;,13;3;28
3,a_a010544,A03,a010544,21;22;24;26;,2022-11-01,2022-11-02,자가용,NaN,21;22;24;26;,1;22;26
4,a_a012058,A03,a012058,1;4;10;12;21;22;26;,2022-11-05,2022-11-06,대중교통 등,수도권 외 거주 39세 이하 커플,1;4;10;12;21;22;26;,1;21;22
...,...,...,...,...,...,...,...,...,...,...
3195,a_a008457,A01,a008457,1;23;24;4;6;,2022-10-16,2022-10-18,대중교통 등,NaN,1;23;24;4;6;,6;23;4
3196,a_a007638,A03,a007638,1;21;22;,2022-10-23,2022-10-24,NaN,수도권 거주 39세 이하 부부,1;21;22;,1;22;4
3197,a_a002111,A01,a002111,4;6;,2022-09-20,2022-09-22,대중교통 등,NaN,4;6;,6;4;21
3198,a_a007634,A03,a007634,21;22;4;,2022-10-22,2022-10-23,NaN,수도권 거주 39세 이하 커플,21;22;4;,1;21;4
3199,a_a007716,A03,a007716,28;,2022-10-22,2022-10-23,자가용,NaN,28;,28;3;1

In [73]:
df_traveler = pd.read_csv('tn_traveller_master_여행객 Master_A.csv', encoding = 'cp949')

df_traveler

,TRAVELER_ID,RESIDENCE_SGG_CD,GENDER,AGE_GRP,EDU_NM,EDU_FNSH_SE,MARR_STTS,FAMILY_MEMB,JOB_NM,JOB_ETC,...,TRAVEL_STYL_7,TRAVEL_STYL_8,TRAVEL_STATUS_RESIDENCE,TRAVEL_STATUS_DESTINATION,TRAVEL_STATUS_ACCOMPANY,TRAVEL_STATUS_YMD,TRAVEL_MOTIVE_1,TRAVEL_MOTIVE_2,TRAVEL_MOTIVE_3,TRAVEL_COMPANIONS_NUM
0,b015583,41,여,20,6,1.0,1.0,5,3.0,NaN,...,1,7,경기도,충남,2인 여행(가족 외),2022-10-29~2022-10-30,1,NaN,NaN,1
1,a001105,30,남,30,6,1.0,1.0,2,3.0,NaN,...,6,5,대전광역시,경기,3인 이상 여행(가족 외),2022-09-03~2022-09-04,3,NaN,NaN,7
2,a001673,41,여,30,4,1.0,2.0,3,NaN,1.0,...,2,7,경기도,서울,자녀 동반 여행,2022-09-18~2022-09-19,10,7.0,1.0,2
3,a017690,41,여,30,6,1.0,1.0,3,3.0,NaN,...,4,5,경기도,서울,3인 이상 여행(가족 외),2022-11-12~2022-11-12,3,1.0,2.0,3
4,c006666,28,여,30,6,1.0,1.0,3,13.0,NaN,...,5,5,인천광역시,경기,나홀로 여행,2022-10-18~2022-10-18,1,7.0,2.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3195,b006351,43,여,30,6,1.0,1.0,4,4.0,NaN,...,2,6,충청북도,강원,나홀로 여행,2022-10-07~2022-10-07,1,2.0,5.0,0
3196,a000318,29,남,20,6,1.0,1.0,4,3.0,NaN,...,1,1,광주광역시,경기,3인 이상 여행(가족 외),2022-08-18~2022-08-19,3,2.0,6.0,19
3197,a000787,48,남,30,6,1.0,1.0,4,3.0,NaN,...,2,6,경상남도,서울,나홀로 여행,2022-08-25~2022-08-27,1,4.0,5.0,1
3198,b011659,41,여,40,7,1.0,2.0,3,1.0,NaN,...,6,2,경기도,강원,자녀 동반 여행,2022-11-05~2022-11-05,6,3.0,2.0,2
3199,a008435,11,남,20,6,1.0,1.0,1,7.0,NaN,...,2,7,서울특별시,경기,나홀로 여행,2022-10-15~2022-10-15,6,5.0,1.0,0

In [74]:
print(df_traveler['TRAVEL_STATUS_ACCOMPANY'].unique())

['2인 여행(가족 외)' '3인 이상 여행(가족 외)' '자녀 동반 여행' '나홀로 여행' '2인 가족 여행' '부모 동반 여행'
 '3대 동반 여행(친척 포함)']

In [75]:
# 동반자 관계 재정의
mapping = {
    '2인 여행(가족 외)': '연인',
    '3인 이상 여행(가족 외)': '친구',
    '자녀 동반 여행': '가족',
    '나홀로 여행': '혼자',
    '2인 가족 여행': '가족',
    '부모 동반 여행': '가족',
    '3대 동반 여행(친척 포함)': '가족'
}

df_traveler['TRAVEL_STATUS_ACCOMPANY'] = df_traveler['TRAVEL_STATUS_ACCOMPANY'].map(mapping)

df_traveler

,TRAVELER_ID,RESIDENCE_SGG_CD,GENDER,AGE_GRP,EDU_NM,EDU_FNSH_SE,MARR_STTS,FAMILY_MEMB,JOB_NM,JOB_ETC,...,TRAVEL_STYL_7,TRAVEL_STYL_8,TRAVEL_STATUS_RESIDENCE,TRAVEL_STATUS_DESTINATION,TRAVEL_STATUS_ACCOMPANY,TRAVEL_STATUS_YMD,TRAVEL_MOTIVE_1,TRAVEL_MOTIVE_2,TRAVEL_MOTIVE_3,TRAVEL_COMPANIONS_NUM
0,b015583,41,여,20,6,1.0,1.0,5,3.0,NaN,...,1,7,경기도,충남,연인,2022-10-29~2022-10-30,1,NaN,NaN,1
1,a001105,30,남,30,6,1.0,1.0,2,3.0,NaN,...,6,5,대전광역시,경기,친구,2022-09-03~2022-09-04,3,NaN,NaN,7
2,a001673,41,여,30,4,1.0,2.0,3,NaN,1.0,...,2,7,경기도,서울,가족,2022-09-18~2022-09-19,10,7.0,1.0,2
3,a017690,41,여,30,6,1.0,1.0,3,3.0,NaN,...,4,5,경기도,서울,친구,2022-11-12~2022-11-12,3,1.0,2.0,3
4,c006666,28,여,30,6,1.0,1.0,3,13.0,NaN,...,5,5,인천광역시,경기,혼자,2022-10-18~2022-10-18,1,7.0,2.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3195,b006351,43,여,30,6,1.0,1.0,4,4.0,NaN,...,2,6,충청북도,강원,혼자,2022-10-07~2022-10-07,1,2.0,5.0,0
3196,a000318,29,남,20,6,1.0,1.0,4,3.0,NaN,...,1,1,광주광역시,경기,친구,2022-08-18~2022-08-19,3,2.0,6.0,19
3197,a000787,48,남,30,6,1.0,1.0,4,3.0,NaN,...,2,6,경상남도,서울,혼자,2022-08-25~2022-08-27,1,4.0,5.0,1
3198,b011659,41,여,40,7,1.0,2.0,3,1.0,NaN,...,6,2,경기도,강원,가족,2022-11-05~2022-11-05,6,3.0,2.0,2
3199,a008435,11,남,20,6,1.0,1.0,1,7.0,NaN,...,2,7,서울특별시,경기,혼자,2022-10-15~2022-10-15,6,5.0,1.0,0

In [76]:
df_traveler = df_traveler.drop(columns = 'TRAVEL_STYL_2')
df_traveler = df_traveler.drop(columns = 'TRAVEL_STYL_4')
print(df_traveler.columns)

Index(['TRAVELER_ID', 'RESIDENCE_SGG_CD', 'GENDER', 'AGE_GRP', 'EDU_NM',
       'EDU_FNSH_SE', 'MARR_STTS', 'FAMILY_MEMB', 'JOB_NM', 'JOB_ETC',
       'INCOME', 'HOUSE_INCOME', 'TRAVEL_TERM', 'TRAVEL_NUM',
       'TRAVEL_LIKE_SIDO_1', 'TRAVEL_LIKE_SGG_1', 'TRAVEL_LIKE_SIDO_2',
       'TRAVEL_LIKE_SGG_2', 'TRAVEL_LIKE_SIDO_3', 'TRAVEL_LIKE_SGG_3',
       'TRAVEL_STYL_1', 'TRAVEL_STYL_3', 'TRAVEL_STYL_5', 'TRAVEL_STYL_6',
       'TRAVEL_STYL_7', 'TRAVEL_STYL_8', 'TRAVEL_STATUS_RESIDENCE',
       'TRAVEL_STATUS_DESTINATION', 'TRAVEL_STATUS_ACCOMPANY',
       'TRAVEL_STATUS_YMD', 'TRAVEL_MOTIVE_1', 'TRAVEL_MOTIVE_2',
       'TRAVEL_MOTIVE_3', 'TRAVEL_COMPANIONS_NUM'],
      dtype='object')

In [77]:
# 여행 스타일 재정의

mapping_style = {
    'TRAVEL_STYL_1': 'TRAVEL_STYL_1',
    'TRAVEL_STYL_3': 'TRAVEL_STYL_2',
    'TRAVEL_STYL_5': 'TRAVEL_STYL_3',
    'TRAVEL_STYL_6': 'TRAVEL_STYL_4',
    'TRAVEL_STYL_7': 'TRAVEL_STYL_5',
    'TRAVEL_STYL_8': 'TRAVEL_STYL_6'
}


df_traveler = df_traveler.rename(columns = mapping_style)

df_traveler

,TRAVELER_ID,RESIDENCE_SGG_CD,GENDER,AGE_GRP,EDU_NM,EDU_FNSH_SE,MARR_STTS,FAMILY_MEMB,JOB_NM,JOB_ETC,...,TRAVEL_STYL_5,TRAVEL_STYL_6,TRAVEL_STATUS_RESIDENCE,TRAVEL_STATUS_DESTINATION,TRAVEL_STATUS_ACCOMPANY,TRAVEL_STATUS_YMD,TRAVEL_MOTIVE_1,TRAVEL_MOTIVE_2,TRAVEL_MOTIVE_3,TRAVEL_COMPANIONS_NUM
0,b015583,41,여,20,6,1.0,1.0,5,3.0,NaN,...,1,7,경기도,충남,연인,2022-10-29~2022-10-30,1,NaN,NaN,1
1,a001105,30,남,30,6,1.0,1.0,2,3.0,NaN,...,6,5,대전광역시,경기,친구,2022-09-03~2022-09-04,3,NaN,NaN,7
2,a001673,41,여,30,4,1.0,2.0,3,NaN,1.0,...,2,7,경기도,서울,가족,2022-09-18~2022-09-19,10,7.0,1.0,2
3,a017690,41,여,30,6,1.0,1.0,3,3.0,NaN,...,4,5,경기도,서울,친구,2022-11-12~2022-11-12,3,1.0,2.0,3
4,c006666,28,여,30,6,1.0,1.0,3,13.0,NaN,...,5,5,인천광역시,경기,혼자,2022-10-18~2022-10-18,1,7.0,2.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3195,b006351,43,여,30,6,1.0,1.0,4,4.0,NaN,...,2,6,충청북도,강원,혼자,2022-10-07~2022-10-07,1,2.0,5.0,0
3196,a000318,29,남,20,6,1.0,1.0,4,3.0,NaN,...,1,1,광주광역시,경기,친구,2022-08-18~2022-08-19,3,2.0,6.0,19
3197,a000787,48,남,30,6,1.0,1.0,4,3.0,NaN,...,2,6,경상남도,서울,혼자,2022-08-25~2022-08-27,1,4.0,5.0,1
3198,b011659,41,여,40,7,1.0,2.0,3,1.0,NaN,...,6,2,경기도,강원,가족,2022-11-05~2022-11-05,6,3.0,2.0,2
3199,a008435,11,남,20,6,1.0,1.0,1,7.0,NaN,...,2,7,서울특별시,경기,혼자,2022-10-15~2022-10-15,6,5.0,1.0,0

In [78]:
mapping_preference = {
    1: 1,
    2: 1,
    3: 1,
    4: 2,
    5: 3,
    6: 3,
    7: 3,
}

df_traveler['TRAVEL_STYL_1'] = df_traveler['TRAVEL_STYL_1'].map(mapping_preference)
df_traveler['TRAVEL_STYL_2'] = df_traveler['TRAVEL_STYL_2'].map(mapping_preference)
df_traveler['TRAVEL_STYL_3'] = df_traveler['TRAVEL_STYL_3'].map(mapping_preference)
df_traveler['TRAVEL_STYL_4'] = df_traveler['TRAVEL_STYL_4'].map(mapping_preference)
df_traveler['TRAVEL_STYL_5'] = df_traveler['TRAVEL_STYL_5'].map(mapping_preference)
df_traveler['TRAVEL_STYL_6'] = df_traveler['TRAVEL_STYL_6'].map(mapping_preference)
df_traveler

,TRAVELER_ID,RESIDENCE_SGG_CD,GENDER,AGE_GRP,EDU_NM,EDU_FNSH_SE,MARR_STTS,FAMILY_MEMB,JOB_NM,JOB_ETC,...,TRAVEL_STYL_5,TRAVEL_STYL_6,TRAVEL_STATUS_RESIDENCE,TRAVEL_STATUS_DESTINATION,TRAVEL_STATUS_ACCOMPANY,TRAVEL_STATUS_YMD,TRAVEL_MOTIVE_1,TRAVEL_MOTIVE_2,TRAVEL_MOTIVE_3,TRAVEL_COMPANIONS_NUM
0,b015583,41,여,20,6,1.0,1.0,5,3.0,NaN,...,1,3,경기도,충남,연인,2022-10-29~2022-10-30,1,NaN,NaN,1
1,a001105,30,남,30,6,1.0,1.0,2,3.0,NaN,...,3,3,대전광역시,경기,친구,2022-09-03~2022-09-04,3,NaN,NaN,7
2,a001673,41,여,30,4,1.0,2.0,3,NaN,1.0,...,1,3,경기도,서울,가족,2022-09-18~2022-09-19,10,7.0,1.0,2
3,a017690,41,여,30,6,1.0,1.0,3,3.0,NaN,...,2,3,경기도,서울,친구,2022-11-12~2022-11-12,3,1.0,2.0,3
4,c006666,28,여,30,6,1.0,1.0,3,13.0,NaN,...,3,3,인천광역시,경기,혼자,2022-10-18~2022-10-18,1,7.0,2.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3195,b006351,43,여,30,6,1.0,1.0,4,4.0,NaN,...,1,3,충청북도,강원,혼자,2022-10-07~2022-10-07,1,2.0,5.0,0
3196,a000318,29,남,20,6,1.0,1.0,4,3.0,NaN,...,1,1,광주광역시,경기,친구,2022-08-18~2022-08-19,3,2.0,6.0,19
3197,a000787,48,남,30,6,1.0,1.0,4,3.0,NaN,...,1,3,경상남도,서울,혼자,2022-08-25~2022-08-27,1,4.0,5.0,1
3198,b011659,41,여,40,7,1.0,2.0,3,1.0,NaN,...,3,1,경기도,강원,가족,2022-11-05~2022-11-05,6,3.0,2.0,2
3199,a008435,11,남,20,6,1.0,1.0,1,7.0,NaN,...,1,3,서울특별시,경기,혼자,2022-10-15~2022-10-15,6,5.0,1.0,0

In [79]:
df_traveler = df_traveler[['TRAVELER_ID', 'GENDER', 'AGE_GRP', 'TRAVEL_STYL_1', 'TRAVEL_STYL_2', 'TRAVEL_STYL_3', 'TRAVEL_STYL_4', 'TRAVEL_STYL_5', 'TRAVEL_STYL_6', 'TRAVEL_STATUS_ACCOMPANY']]
df_traveler

,TRAVELER_ID,GENDER,AGE_GRP,TRAVEL_STYL_1,TRAVEL_STYL_2,TRAVEL_STYL_3,TRAVEL_STYL_4,TRAVEL_STYL_5,TRAVEL_STYL_6,TRAVEL_STATUS_ACCOMPANY
0,b015583,여,20,1,1,3,1,1,3,연인
1,a001105,남,30,3,1,2,3,3,3,친구
2,a001673,여,30,2,1,1,3,1,3,가족
3,a017690,여,30,1,1,1,1,2,3,친구
4,c006666,여,30,1,1,3,3,3,3,혼자
...,...,...,...,...,...,...,...,...,...,...
3195,b006351,여,30,1,1,3,1,1,3,혼자
3196,a000318,남,20,3,1,1,1,1,1,친구
3197,a000787,남,30,1,1,2,1,1,3,혼자
3198,b011659,여,40,3,2,2,1,3,1,가족
3199,a008435,남,20,2,1,1,1,1,3,혼자

In [80]:
print(df_traveler['AGE_GRP'].unique())

[20 30 60 40 50]

In [81]:
df_traveler['AGE_GRP'] = df_traveler['AGE_GRP'].replace({
    20: '10-20',
    30: '30-40',
    40: '30-40',
    50: '50대 이상',
    60: '50대 이상'
})

# 변경된 값 확인
df_traveler

<ipython-input-81-87fff681dfb8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_traveler['AGE_GRP'] = df_traveler['AGE_GRP'].replace({

,TRAVELER_ID,GENDER,AGE_GRP,TRAVEL_STYL_1,TRAVEL_STYL_2,TRAVEL_STYL_3,TRAVEL_STYL_4,TRAVEL_STYL_5,TRAVEL_STYL_6,TRAVEL_STATUS_ACCOMPANY
0,b015583,여,10-20,1,1,3,1,1,3,연인
1,a001105,남,30-40,3,1,2,3,3,3,친구
2,a001673,여,30-40,2,1,1,3,1,3,가족
3,a017690,여,30-40,1,1,1,1,2,3,친구
4,c006666,여,30-40,1,1,3,3,3,3,혼자
...,...,...,...,...,...,...,...,...,...,...
3195,b006351,여,30-40,1,1,3,1,1,3,혼자
3196,a000318,남,10-20,3,1,1,1,1,1,친구
3197,a000787,남,30-40,1,1,2,1,1,3,혼자
3198,b011659,여,30-40,3,2,2,1,3,1,가족
3199,a008435,남,10-20,2,1,1,1,1,3,혼자

In [82]:
df = pd.merge(df_place_seoul, df_traveler, left_on='TRAVEL_ID', right_on='TRAVELER_ID', how='left')

df

,TRAVEL_ID,VISIT_AREA_NM,GUNGU,ROAD_NM_ADDR,LOTNO_ADDR,LONGITUDE,LATITUDE,VISIT_AREA_TYPE_CD,VISIT_CHC_REASON_CD,REVISIT_YN,...,TRAVELER_ID,GENDER,AGE_GRP,TRAVEL_STYL_1,TRAVEL_STYL_2,TRAVEL_STYL_3,TRAVEL_STYL_4,TRAVEL_STYL_5,TRAVEL_STYL_6,TRAVEL_STATUS_ACCOMPANY
0,a000491,더현대서울,영등포구,서울 영등포구 여의대로 108,서울 영등포구 여의도동 22,126.928446,37.525872,쇼핑,지명도/명소/핫플레이스,N,...,a000491,여,30-40,2.0,2.0,2.0,2.0,3.0,3.0,가족
1,a000554,청계천,종로구,None,서울 종로구 서린동 148,126.978647,37.569147,자연,지명도/명소/핫플레이스,N,...,a000554,남,10-20,3.0,1.0,2.0,3.0,1.0,1.0,연인
2,a000962,숙이네닭발,용산구,서울 용산구 우사단로10길 47,서울 용산구 한남동 732-148,126.998172,37.532902,음식점/카페,지명도/명소/핫플레이스,N,...,a000962,남,10-20,3.0,1.0,1.0,3.0,3.0,1.0,혼자
3,a003234,서울 그로서리 클럽,서대문구,서울 서대문구 연희로11가길 8,서울 서대문구 연희동 129-4,126.929213,37.567903,문화시설,지명도/명소/핫플레이스,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,a003810,더현대서울,영등포구,서울 영등포구 여의대로 108,서울 영등포구 여의도동 22,126.928446,37.525872,문화시설,기타,N,...,a003810,여,30-40,2.0,1.0,1.0,1.0,3.0,3.0,연인
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7233,a008089,꼴라보하우스 도산,강남구,서울 강남구 언주로164길 21-3,서울 강남구 신사동 645-15,127.035228,37.525735,문화시설,지명도/명소/핫플레이스,N,...,a008089,남,30-40,2.0,1.0,3.0,1.0,3.0,2.0,혼자
7234,a001110,뚝섬한강공원,광진구,None,서울 광진구 자양동 427-6,127.068921,37.529297,자연,지명도/명소/핫플레이스,Y,...,a001110,여,10-20,2.0,2.0,2.0,2.0,2.0,2.0,연인
7235,c005343,한복남 경복궁점,종로구,서울 종로구 사직로 133-5,서울 종로구 적선동 95-1,126.973307,37.576208,쇼핑,기타,Y,...,c005343,여,10-20,1.0,1.0,2.0,1.0,1.0,3.0,연인
7236,a013660,국립중앙박물관,용산구,서울 용산구 서빙고로 137,서울 용산구 용산동6가 168-6,126.980203,37.523847,역사/유적지,기타,N,...,a013660,남,10-20,1.0,1.0,2.0,2.0,3.0,3.0,혼자
7237,a000567,콩카페 롯데백화점 잠실점,송파구,서울 송파구 올림픽로 240,서울 송파구 잠실동 40-1,127.098572,37.511906,음식점/카페,과거 경험이 좋아서,N,...,a000567,여,10-20,2.0,1.0,1.0,2.0,1.0,3.0,연인

In [83]:
# 만족도 결측치 삭제
df = df.dropna(subset = ['DGSTFN'])
df.reset_index(drop=True, inplace=True)
df

,TRAVEL_ID,VISIT_AREA_NM,GUNGU,ROAD_NM_ADDR,LOTNO_ADDR,LONGITUDE,LATITUDE,VISIT_AREA_TYPE_CD,VISIT_CHC_REASON_CD,REVISIT_YN,...,TRAVELER_ID,GENDER,AGE_GRP,TRAVEL_STYL_1,TRAVEL_STYL_2,TRAVEL_STYL_3,TRAVEL_STYL_4,TRAVEL_STYL_5,TRAVEL_STYL_6,TRAVEL_STATUS_ACCOMPANY
0,a000491,더현대서울,영등포구,서울 영등포구 여의대로 108,서울 영등포구 여의도동 22,126.928446,37.525872,쇼핑,지명도/명소/핫플레이스,N,...,a000491,여,30-40,2.0,2.0,2.0,2.0,3.0,3.0,가족
1,a000554,청계천,종로구,None,서울 종로구 서린동 148,126.978647,37.569147,자연,지명도/명소/핫플레이스,N,...,a000554,남,10-20,3.0,1.0,2.0,3.0,1.0,1.0,연인
2,a000962,숙이네닭발,용산구,서울 용산구 우사단로10길 47,서울 용산구 한남동 732-148,126.998172,37.532902,음식점/카페,지명도/명소/핫플레이스,N,...,a000962,남,10-20,3.0,1.0,1.0,3.0,3.0,1.0,혼자
3,a003234,서울 그로서리 클럽,서대문구,서울 서대문구 연희로11가길 8,서울 서대문구 연희동 129-4,126.929213,37.567903,문화시설,지명도/명소/핫플레이스,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,a003810,더현대서울,영등포구,서울 영등포구 여의대로 108,서울 영등포구 여의도동 22,126.928446,37.525872,문화시설,기타,N,...,a003810,여,30-40,2.0,1.0,1.0,1.0,3.0,3.0,연인
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7233,a008089,꼴라보하우스 도산,강남구,서울 강남구 언주로164길 21-3,서울 강남구 신사동 645-15,127.035228,37.525735,문화시설,지명도/명소/핫플레이스,N,...,a008089,남,30-40,2.0,1.0,3.0,1.0,3.0,2.0,혼자
7234,a001110,뚝섬한강공원,광진구,None,서울 광진구 자양동 427-6,127.068921,37.529297,자연,지명도/명소/핫플레이스,Y,...,a001110,여,10-20,2.0,2.0,2.0,2.0,2.0,2.0,연인
7235,c005343,한복남 경복궁점,종로구,서울 종로구 사직로 133-5,서울 종로구 적선동 95-1,126.973307,37.576208,쇼핑,기타,Y,...,c005343,여,10-20,1.0,1.0,2.0,1.0,1.0,3.0,연인
7236,a013660,국립중앙박물관,용산구,서울 용산구 서빙고로 137,서울 용산구 용산동6가 168-6,126.980203,37.523847,역사/유적지,기타,N,...,a013660,남,10-20,1.0,1.0,2.0,2.0,3.0,3.0,혼자
7237,a000567,콩카페 롯데백화점 잠실점,송파구,서울 송파구 올림픽로 240,서울 송파구 잠실동 40-1,127.098572,37.511906,음식점/카페,과거 경험이 좋아서,N,...,a000567,여,10-20,2.0,1.0,1.0,2.0,1.0,3.0,연인

In [84]:
df.isna().sum()

TRAVEL_ID                     0
VISIT_AREA_NM                 0
GUNGU                         0
ROAD_NM_ADDR                552
LOTNO_ADDR                    1
LONGITUDE                     0
LATITUDE                      0
VISIT_AREA_TYPE_CD            0
VISIT_CHC_REASON_CD           0
REVISIT_YN                    0
DGSTFN                        0
REVISIT_INTENTION             0
RCMDTN_INTENTION              0
TRAVELER_ID                1363
GENDER                     1363
AGE_GRP                    1363
TRAVEL_STYL_1              1363
TRAVEL_STYL_2              1363
TRAVEL_STYL_3              1363
TRAVEL_STYL_4              1363
TRAVEL_STYL_5              1363
TRAVEL_STYL_6              1363
TRAVEL_STATUS_ACCOMPANY    1363
dtype: int64

In [85]:
#  결측치 삭제
df = df.dropna(subset = ['TRAVELER_ID'])
df.reset_index(drop=True, inplace=True)
df

,TRAVEL_ID,VISIT_AREA_NM,GUNGU,ROAD_NM_ADDR,LOTNO_ADDR,LONGITUDE,LATITUDE,VISIT_AREA_TYPE_CD,VISIT_CHC_REASON_CD,REVISIT_YN,...,TRAVELER_ID,GENDER,AGE_GRP,TRAVEL_STYL_1,TRAVEL_STYL_2,TRAVEL_STYL_3,TRAVEL_STYL_4,TRAVEL_STYL_5,TRAVEL_STYL_6,TRAVEL_STATUS_ACCOMPANY
0,a000491,더현대서울,영등포구,서울 영등포구 여의대로 108,서울 영등포구 여의도동 22,126.928446,37.525872,쇼핑,지명도/명소/핫플레이스,N,...,a000491,여,30-40,2.0,2.0,2.0,2.0,3.0,3.0,가족
1,a000554,청계천,종로구,None,서울 종로구 서린동 148,126.978647,37.569147,자연,지명도/명소/핫플레이스,N,...,a000554,남,10-20,3.0,1.0,2.0,3.0,1.0,1.0,연인
2,a000962,숙이네닭발,용산구,서울 용산구 우사단로10길 47,서울 용산구 한남동 732-148,126.998172,37.532902,음식점/카페,지명도/명소/핫플레이스,N,...,a000962,남,10-20,3.0,1.0,1.0,3.0,3.0,1.0,혼자
3,a003810,더현대서울,영등포구,서울 영등포구 여의대로 108,서울 영등포구 여의도동 22,126.928446,37.525872,문화시설,기타,N,...,a003810,여,30-40,2.0,1.0,1.0,1.0,3.0,3.0,연인
4,a000537,경복궁,종로구,서울 종로구 사직로 161,서울 종로구 세종로 1-91,126.976897,37.577609,역사/유적지,지명도/명소/핫플레이스,Y,...,a000537,여,30-40,1.0,1.0,1.0,1.0,1.0,3.0,혼자
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5870,a008089,꼴라보하우스 도산,강남구,서울 강남구 언주로164길 21-3,서울 강남구 신사동 645-15,127.035228,37.525735,문화시설,지명도/명소/핫플레이스,N,...,a008089,남,30-40,2.0,1.0,3.0,1.0,3.0,2.0,혼자
5871,a001110,뚝섬한강공원,광진구,None,서울 광진구 자양동 427-6,127.068921,37.529297,자연,지명도/명소/핫플레이스,Y,...,a001110,여,10-20,2.0,2.0,2.0,2.0,2.0,2.0,연인
5872,c005343,한복남 경복궁점,종로구,서울 종로구 사직로 133-5,서울 종로구 적선동 95-1,126.973307,37.576208,쇼핑,기타,Y,...,c005343,여,10-20,1.0,1.0,2.0,1.0,1.0,3.0,연인
5873,a013660,국립중앙박물관,용산구,서울 용산구 서빙고로 137,서울 용산구 용산동6가 168-6,126.980203,37.523847,역사/유적지,기타,N,...,a013660,남,10-20,1.0,1.0,2.0,2.0,3.0,3.0,혼자
5874,a000567,콩카페 롯데백화점 잠실점,송파구,서울 송파구 올림픽로 240,서울 송파구 잠실동 40-1,127.098572,37.511906,음식점/카페,과거 경험이 좋아서,N,...,a000567,여,10-20,2.0,1.0,1.0,2.0,1.0,3.0,연인

In [86]:
print(df.dtypes)

TRAVEL_ID                   object
VISIT_AREA_NM               object
GUNGU                       object
ROAD_NM_ADDR                object
LOTNO_ADDR                  object
LONGITUDE                  float64
LATITUDE                   float64
VISIT_AREA_TYPE_CD          object
VISIT_CHC_REASON_CD         object
REVISIT_YN                  object
DGSTFN                     float64
REVISIT_INTENTION          float64
RCMDTN_INTENTION           float64
TRAVELER_ID                 object
GENDER                      object
AGE_GRP                     object
TRAVEL_STYL_1              float64
TRAVEL_STYL_2              float64
TRAVEL_STYL_3              float64
TRAVEL_STYL_4              float64
TRAVEL_STYL_5              float64
TRAVEL_STYL_6              float64
TRAVEL_STATUS_ACCOMPANY     object
dtype: object

In [87]:
# Convert specific float columns to int by filling NaN values with 0
columns_to_convert = ['TRAVEL_STYL_1', 'TRAVEL_STYL_2',
                      'TRAVEL_STYL_3', 'TRAVEL_STYL_4', 'TRAVEL_STYL_5', 'TRAVEL_STYL_6',
                      ]

# Fill NaN values with 0 and convert to int
df[columns_to_convert] = df[columns_to_convert].astype(int)

<ipython-input-87-ab8e296c7a0a>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[columns_to_convert] = df[columns_to_convert].astype(int)

In [89]:
df = df[['TRAVEL_ID', 'VISIT_AREA_NM', 'GUNGU', 'ROAD_NM_ADDR', 'LOTNO_ADDR', 'LONGITUDE', 'LATITUDE', 'VISIT_AREA_TYPE_CD', 'VISIT_CHC_REASON_CD', 'REVISIT_YN', 'REVISIT_INTENTION', 'RCMDTN_INTENTION',
       'GENDER', 'AGE_GRP', 'TRAVEL_STYL_1', 'TRAVEL_STYL_2', 'TRAVEL_STYL_3', 'TRAVEL_STYL_4', 'TRAVEL_STYL_5', 'TRAVEL_STYL_6', 'TRAVEL_STATUS_ACCOMPANY',
        'DGSTFN']]

df

,TRAVEL_ID,VISIT_AREA_NM,GUNGU,ROAD_NM_ADDR,LOTNO_ADDR,LONGITUDE,LATITUDE,VISIT_AREA_TYPE_CD,VISIT_CHC_REASON_CD,REVISIT_YN,...,GENDER,AGE_GRP,TRAVEL_STYL_1,TRAVEL_STYL_2,TRAVEL_STYL_3,TRAVEL_STYL_4,TRAVEL_STYL_5,TRAVEL_STYL_6,TRAVEL_STATUS_ACCOMPANY,DGSTFN
0,a000491,더현대서울,영등포구,서울 영등포구 여의대로 108,서울 영등포구 여의도동 22,126.928446,37.525872,쇼핑,지명도/명소/핫플레이스,N,...,여,30-40,2,2,2,2,3,3,가족,5.0
1,a000554,청계천,종로구,None,서울 종로구 서린동 148,126.978647,37.569147,자연,지명도/명소/핫플레이스,N,...,남,10-20,3,1,2,3,1,1,연인,4.0
2,a000962,숙이네닭발,용산구,서울 용산구 우사단로10길 47,서울 용산구 한남동 732-148,126.998172,37.532902,음식점/카페,지명도/명소/핫플레이스,N,...,남,10-20,3,1,1,3,3,1,혼자,5.0
3,a003810,더현대서울,영등포구,서울 영등포구 여의대로 108,서울 영등포구 여의도동 22,126.928446,37.525872,문화시설,기타,N,...,여,30-40,2,1,1,1,3,3,연인,5.0
4,a000537,경복궁,종로구,서울 종로구 사직로 161,서울 종로구 세종로 1-91,126.976897,37.577609,역사/유적지,지명도/명소/핫플레이스,Y,...,여,30-40,1,1,1,1,1,3,혼자,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5870,a008089,꼴라보하우스 도산,강남구,서울 강남구 언주로164길 21-3,서울 강남구 신사동 645-15,127.035228,37.525735,문화시설,지명도/명소/핫플레이스,N,...,남,30-40,2,1,3,1,3,2,혼자,3.0
5871,a001110,뚝섬한강공원,광진구,None,서울 광진구 자양동 427-6,127.068921,37.529297,자연,지명도/명소/핫플레이스,Y,...,여,10-20,2,2,2,2,2,2,연인,5.0
5872,c005343,한복남 경복궁점,종로구,서울 종로구 사직로 133-5,서울 종로구 적선동 95-1,126.973307,37.576208,쇼핑,기타,Y,...,여,10-20,1,1,2,1,1,3,연인,3.0
5873,a013660,국립중앙박물관,용산구,서울 용산구 서빙고로 137,서울 용산구 용산동6가 168-6,126.980203,37.523847,역사/유적지,기타,N,...,남,10-20,1,1,2,2,3,3,혼자,5.0
5874,a000567,콩카페 롯데백화점 잠실점,송파구,서울 송파구 올림픽로 240,서울 송파구 잠실동 40-1,127.098572,37.511906,음식점/카페,과거 경험이 좋아서,N,...,여,10-20,2,1,1,2,1,3,연인,3.0

In [90]:
travel_id_counts = df.groupby('TRAVEL_ID').size()
print(travel_id_counts)

TRAVEL_ID
a000016    5
a000021    6
a000028    1
a000029    4
a000034    9
          ..
d004095    1
d004175    5
d004639    6
d004784    1
d005429    7
Length: 1225, dtype: int64

In [91]:
new_df = df

unique_ids = df['TRAVEL_ID'].unique()  # Get unique TRAVEL_IDs
id_mapping = {travel_id: idx for idx, travel_id in enumerate(unique_ids)}

# Map the new IDs to the TRAVEL_ID column
new_df['TRAVEL_ID'] = df['TRAVEL_ID'].map(id_mapping)

new_df

<ipython-input-91-23f1589be606>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['TRAVEL_ID'] = df['TRAVEL_ID'].map(id_mapping)

,TRAVEL_ID,VISIT_AREA_NM,GUNGU,ROAD_NM_ADDR,LOTNO_ADDR,LONGITUDE,LATITUDE,VISIT_AREA_TYPE_CD,VISIT_CHC_REASON_CD,REVISIT_YN,...,GENDER,AGE_GRP,TRAVEL_STYL_1,TRAVEL_STYL_2,TRAVEL_STYL_3,TRAVEL_STYL_4,TRAVEL_STYL_5,TRAVEL_STYL_6,TRAVEL_STATUS_ACCOMPANY,DGSTFN
0,0,더현대서울,영등포구,서울 영등포구 여의대로 108,서울 영등포구 여의도동 22,126.928446,37.525872,쇼핑,지명도/명소/핫플레이스,N,...,여,30-40,2,2,2,2,3,3,가족,5.0
1,1,청계천,종로구,None,서울 종로구 서린동 148,126.978647,37.569147,자연,지명도/명소/핫플레이스,N,...,남,10-20,3,1,2,3,1,1,연인,4.0
2,2,숙이네닭발,용산구,서울 용산구 우사단로10길 47,서울 용산구 한남동 732-148,126.998172,37.532902,음식점/카페,지명도/명소/핫플레이스,N,...,남,10-20,3,1,1,3,3,1,혼자,5.0
3,3,더현대서울,영등포구,서울 영등포구 여의대로 108,서울 영등포구 여의도동 22,126.928446,37.525872,문화시설,기타,N,...,여,30-40,2,1,1,1,3,3,연인,5.0
4,4,경복궁,종로구,서울 종로구 사직로 161,서울 종로구 세종로 1-91,126.976897,37.577609,역사/유적지,지명도/명소/핫플레이스,Y,...,여,30-40,1,1,1,1,1,3,혼자,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5870,253,꼴라보하우스 도산,강남구,서울 강남구 언주로164길 21-3,서울 강남구 신사동 645-15,127.035228,37.525735,문화시설,지명도/명소/핫플레이스,N,...,남,30-40,2,1,3,1,3,2,혼자,3.0
5871,848,뚝섬한강공원,광진구,None,서울 광진구 자양동 427-6,127.068921,37.529297,자연,지명도/명소/핫플레이스,Y,...,여,10-20,2,2,2,2,2,2,연인,5.0
5872,400,한복남 경복궁점,종로구,서울 종로구 사직로 133-5,서울 종로구 적선동 95-1,126.973307,37.576208,쇼핑,기타,Y,...,여,10-20,1,1,2,1,1,3,연인,3.0
5873,1051,국립중앙박물관,용산구,서울 용산구 서빙고로 137,서울 용산구 용산동6가 168-6,126.980203,37.523847,역사/유적지,기타,N,...,남,10-20,1,1,2,2,3,3,혼자,5.0
5874,25,콩카페 롯데백화점 잠실점,송파구,서울 송파구 올림픽로 240,서울 송파구 잠실동 40-1,127.098572,37.511906,음식점/카페,과거 경험이 좋아서,N,...,여,10-20,2,1,1,2,1,3,연인,3.0

In [7]:
df.to_csv('preprocessed_data_1016_new_index.csv', encoding='utf-8-sig',index=False)

In [93]:
df.isna().sum()

TRAVEL_ID                    0
VISIT_AREA_NM                0
GUNGU                        0
ROAD_NM_ADDR               460
LOTNO_ADDR                   1
LONGITUDE                    0
LATITUDE                     0
VISIT_AREA_TYPE_CD           0
VISIT_CHC_REASON_CD          0
REVISIT_YN                   0
REVISIT_INTENTION            0
RCMDTN_INTENTION             0
GENDER                       0
AGE_GRP                      0
TRAVEL_STYL_1                0
TRAVEL_STYL_2                0
TRAVEL_STYL_3                0
TRAVEL_STYL_4                0
TRAVEL_STYL_5                0
TRAVEL_STYL_6                0
TRAVEL_STATUS_ACCOMPANY      0
DGSTFN                       0
dtype: int64

In [94]:
pd.set_option('display.max_rows', 150)
pd.DataFrame(df.groupby(['GUNGU'])['VISIT_AREA_NM'].nunique())

       VISIT_AREA_NM
GUNGU
강남구              319
강동구               30
강북구               26
강서구               60
관악구               54
광진구              102
구로구               38
금천구               13
노원구               48
도봉구               16
동대문구              31
동작구               37
마포구              347
서대문구              52
서초구              146
성동구              191
성북구               33
송파구              223
양천구               14
영등포구             176
용산구              286
은평구               42
종로구              687
중구               353
중랑구               13

In [101]:
print(df['REVISIT_INTENTION'].unique())

[5. 4. 3. 2. 1.]

In [100]:
df.columns

Index(['TRAVEL_ID', 'VISIT_AREA_NM', 'GUNGU', 'ROAD_NM_ADDR', 'LOTNO_ADDR',
       'LONGITUDE', 'LATITUDE', 'VISIT_AREA_TYPE_CD', 'VISIT_CHC_REASON_CD',
       'REVISIT_YN', 'REVISIT_INTENTION', 'RCMDTN_INTENTION', 'GENDER',
       'AGE_GRP', 'TRAVEL_STYL_1', 'TRAVEL_STYL_2', 'TRAVEL_STYL_3',
       'TRAVEL_STYL_4', 'TRAVEL_STYL_5', 'TRAVEL_STYL_6',
       'TRAVEL_STATUS_ACCOMPANY', 'DGSTFN'],
      dtype='object')

In [5]:
df = pd.read_csv('preprocessed_data_1016_new_index.csv')
df

,TRAVEL_ID,VISIT_AREA_NM,GUNGU,ROAD_NM_ADDR,LOTNO_ADDR,LONGITUDE,LATITUDE,VISIT_AREA_TYPE_CD,VISIT_CHC_REASON_CD,REVISIT_YN,...,GENDER,AGE_GRP,TRAVEL_STYL_1,TRAVEL_STYL_2,TRAVEL_STYL_3,TRAVEL_STYL_4,TRAVEL_STYL_5,TRAVEL_STYL_6,TRAVEL_STATUS_ACCOMPANY,DGSTFN
0,0,더현대서울,영등포구,서울 영등포구 여의대로 108,서울 영등포구 여의도동 22,126.928446,37.525872,쇼핑,지명도/명소/핫플레이스,N,...,여,30-40,2,2,2,2,3,3,가족,5.0
1,1,청계천,종로구,NaN,서울 종로구 서린동 148,126.978647,37.569147,자연,지명도/명소/핫플레이스,N,...,남,10-20,3,1,2,3,1,1,연인,4.0
2,2,숙이네닭발,용산구,서울 용산구 우사단로10길 47,서울 용산구 한남동 732-148,126.998172,37.532902,음식점/카페,지명도/명소/핫플레이스,N,...,남,10-20,3,1,1,3,3,1,혼자,5.0
3,3,더현대서울,영등포구,서울 영등포구 여의대로 108,서울 영등포구 여의도동 22,126.928446,37.525872,문화시설,기타,N,...,여,30-40,2,1,1,1,3,3,연인,5.0
4,4,경복궁,종로구,서울 종로구 사직로 161,서울 종로구 세종로 1-91,126.976897,37.577609,역사/유적지,지명도/명소/핫플레이스,Y,...,여,30-40,1,1,1,1,1,3,혼자,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5870,253,꼴라보하우스 도산,강남구,서울 강남구 언주로164길 21-3,서울 강남구 신사동 645-15,127.035228,37.525735,문화시설,지명도/명소/핫플레이스,N,...,남,30-40,2,1,3,1,3,2,혼자,3.0
5871,848,뚝섬한강공원,광진구,NaN,서울 광진구 자양동 427-6,127.068921,37.529297,자연,지명도/명소/핫플레이스,Y,...,여,10-20,2,2,2,2,2,2,연인,5.0
5872,400,한복남 경복궁점,종로구,서울 종로구 사직로 133-5,서울 종로구 적선동 95-1,126.973307,37.576208,쇼핑,기타,Y,...,여,10-20,1,1,2,1,1,3,연인,3.0
5873,1051,국립중앙박물관,용산구,서울 용산구 서빙고로 137,서울 용산구 용산동6가 168-6,126.980203,37.523847,역사/유적지,기타,N,...,남,10-20,1,1,2,2,3,3,혼자,5.0
5874,25,콩카페 롯데백화점 잠실점,송파구,서울 송파구 올림픽로 240,서울 송파구 잠실동 40-1,127.098572,37.511906,음식점/카페,과거 경험이 좋아서,N,...,여,10-20,2,1,1,2,1,3,연인,3.0

In [6]:
df['AGE_GRP'] = df['AGE_GRP'].replace({
    '10-20': '10~20',
    '30-40': '30~40'
})


df

,TRAVEL_ID,VISIT_AREA_NM,GUNGU,ROAD_NM_ADDR,LOTNO_ADDR,LONGITUDE,LATITUDE,VISIT_AREA_TYPE_CD,VISIT_CHC_REASON_CD,REVISIT_YN,...,GENDER,AGE_GRP,TRAVEL_STYL_1,TRAVEL_STYL_2,TRAVEL_STYL_3,TRAVEL_STYL_4,TRAVEL_STYL_5,TRAVEL_STYL_6,TRAVEL_STATUS_ACCOMPANY,DGSTFN
0,0,더현대서울,영등포구,서울 영등포구 여의대로 108,서울 영등포구 여의도동 22,126.928446,37.525872,쇼핑,지명도/명소/핫플레이스,N,...,여,30~40,2,2,2,2,3,3,가족,5.0
1,1,청계천,종로구,NaN,서울 종로구 서린동 148,126.978647,37.569147,자연,지명도/명소/핫플레이스,N,...,남,10~20,3,1,2,3,1,1,연인,4.0
2,2,숙이네닭발,용산구,서울 용산구 우사단로10길 47,서울 용산구 한남동 732-148,126.998172,37.532902,음식점/카페,지명도/명소/핫플레이스,N,...,남,10~20,3,1,1,3,3,1,혼자,5.0
3,3,더현대서울,영등포구,서울 영등포구 여의대로 108,서울 영등포구 여의도동 22,126.928446,37.525872,문화시설,기타,N,...,여,30~40,2,1,1,1,3,3,연인,5.0
4,4,경복궁,종로구,서울 종로구 사직로 161,서울 종로구 세종로 1-91,126.976897,37.577609,역사/유적지,지명도/명소/핫플레이스,Y,...,여,30~40,1,1,1,1,1,3,혼자,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5870,253,꼴라보하우스 도산,강남구,서울 강남구 언주로164길 21-3,서울 강남구 신사동 645-15,127.035228,37.525735,문화시설,지명도/명소/핫플레이스,N,...,남,30~40,2,1,3,1,3,2,혼자,3.0
5871,848,뚝섬한강공원,광진구,NaN,서울 광진구 자양동 427-6,127.068921,37.529297,자연,지명도/명소/핫플레이스,Y,...,여,10~20,2,2,2,2,2,2,연인,5.0
5872,400,한복남 경복궁점,종로구,서울 종로구 사직로 133-5,서울 종로구 적선동 95-1,126.973307,37.576208,쇼핑,기타,Y,...,여,10~20,1,1,2,1,1,3,연인,3.0
5873,1051,국립중앙박물관,용산구,서울 용산구 서빙고로 137,서울 용산구 용산동6가 168-6,126.980203,37.523847,역사/유적지,기타,N,...,남,10~20,1,1,2,2,3,3,혼자,5.0
5874,25,콩카페 롯데백화점 잠실점,송파구,서울 송파구 올림픽로 240,서울 송파구 잠실동 40-1,127.098572,37.511906,음식점/카페,과거 경험이 좋아서,N,...,여,10~20,2,1,1,2,1,3,연인,3.0